:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-dark-variant2: #b0b1b1;

    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 1rem var(--color-light);

}



.user-informations {

    margin-top: 5rem;
    border-radius: var(--card-border-radius);
    background-color:var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    display: grid;
    grid-template-columns: 20rem auto;
    
}
.user-informations .left_seciton {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-dark-variant );
    
    
}
.user-informations .left_seciton img{
    border-radius: 50%;
    margin: 1rem 0 1rem;
    width: 200px;
    height: 200px;
}
.user-informations .right_section{
    display: flex;
    height: 100%;
    
}
.user-informations .right_section .userInformationsContent{
    display: none;
    padding: 2rem;
    width: 500px;
    
}
.user-informations .right_section .userInformationsContent.showed_content{
    display: block;
}
.user-informations .right_section .user_informations{
    height: 50px;
    width: 200px;
    padding: 1rem 1rem;
    
    /* border-radius: var(--border-radius-1); */
    /* background-color: var(--color-info-light); */
}
.user-informations .right_section .user_informations.showed{
    color:var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-variant2);
    border-radius: var(--border-radius-1);
    border-bottom: none;
    box-shadow: 0px -3px 10px -5px rgba(0,0,0,0.55);
}
