<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>archmietCRM-V1</title>
    <!-- material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sessions3.css">


</head>

<body>

    <div class="container">
        <!---------- left aside ------------->
        <aside>
            <div class="top">
                <div class="logo">
                    <h2>archimet <span class="danger">CRM</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="http://127.0.0.1:5500/index.html" class="">
                    <span class="material-symbols-sharp">grid_view</span>
                    <h3>Anasayfa</h3>
                </a>
                <a href="http://127.0.0.1:5500/pages/users.html">
                    <span class="material-symbols-sharp">patient_list</span>
                    <h3>Hastalar</h3>
                </a>
                <a href="http://127.0.0.1:5500/pages/meetings.html" class="active">
                    <span class="material-symbols-sharp">
                        pending_actions
                    </span>
                    <h3>Randevular</h3>
                    <span class="message-count">24</span>
                </a>
                <a href="http://127.0.0.1:5500/pages/statics.html">
                    <span class="material-symbols-sharp">query_stats</span>
                    <h3>İstatistik</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">settings</span></span>
                    <h3>Ayarlar</h3>
                </a>
            </div>
        </aside>

        <!----------- end of sidebar ----------->

        <main>
            <div class="header">
                <h1> Randevular 222</h1>
                <div class="current_date"></div>
                <div class="main main-sessions">
                    <div class="left">
                        <div class="calendar">
                            <div class="month">
                                <i class="fa-solid fa-chevron-left prev"></i>
                                <div class="date1">Mayıs 2023</div>
                                <i class="fa-solid fa-chevron-right next"></i>
                            </div>
                            <div class="weekdays">
                                <div>Pazartesi</div>
                                <div>Salı</div>
                                <div>Çarşamba</div>
                                <div>Perşembe</div>
                                <div>Cuma</div>
                                <div>Cumartesi</div>
                                <div>Pazar</div>
                            </div>
                            <div class="days">
                                <!-- <div class="day prev-date">30</div>
                                <div class="day prev-date">31</div>
                                <div class="day">1</div>
                                <div class="day">2</div>
                                <div class="day">3</div>
                                <div class="day">4</div>
                                <div class="day">5</div>
                                <div class="day event active">6</div>
                                <div class="day today">7</div>
                                <div class="day">8</div>
                                <div class="day">9</div>
                                <div class="day">10</div>
                                <div class="day">12</div>
                                <div class="day">13</div>
                                <div class="day event">14</div>
                                <div class="day">15</div>
                                <div class="day">16</div>
                                <div class="day event">17</div>
                                <div class="day">18</div>
                                <div class="day">19</div>
                                <div class="day">20</div>
                                <div class="day next-date">1</div>
                                <div class="day next-date" >2</div>
                                <div class="day next-date">3</div> -->
                            </div>
                            <div class="goto-today">
                                <div class="goto">
                                    <input type="text" class="date-input" placeholder="mm//yyyy">
                                    <button class="goto-btn">go</button>
                                </div>
                                <button class="today-btn">today</button>
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="today-date">
                            <div class="event-day">Pazartesi</div>
                            <div class="event-date"> 22 Mayıs 2023</div>
                        </div>
                        <div class="events">
                            <div></div>
                           
                        </div>
                        <div class="add-event-wrapper">
                            <div class="add-event-header">
                                <div class="title">Seans Ekle</div>
                                <i class="fa-solid fa-close"></i>
                            </div>
                            <div class="add-event-type">
                                <div class="title">Seans Tipi
                                    <select class="proccess_type">
                                        <option value="0">Yıkama</option>
                                        <option value="1">Saç Ekimi</option>
                                        <option value="2">Bakım</option>
                                        <option value="3">Cilt gerdirme</option>
                                    </select>
                                </div>
                                
                            </div>
                            <div class="add-event-body">
                                <div class="add-event-input">
                                    <input type="text" placeholder="Hasta İsmi" class="event-name">
                                </div>
                                <div class="add-event-input">
                                    <input type="text" placeholder="Başlangıç" class="event-time-from">
                                </div>
                                <div class="add-event-input">
                                    <input type="text" placeholder="Bitiş" class="event-time-to">
                                </div>

                            </div>
                            <div class="add-event-body">
                                <button class="add-event-btn">add</button>
                            </div>
                        </div>
                        <button class="add-session">Seans Ekle +</button>

                    </div>

                </div>
        </main>
    </div>

    <script src="../js/sessions3.js"></script>
</body>

</html>