<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>archmietCRM-V1</title>
    <!-- material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/users.css">
</head>

<body>

    <div class="container">
        <!---------- left aside ------------->
        <%- include("../partials/aside.ejs") %>
         

        <!----------- end of sidebar ----------->

        <main>
            <div class="header">
                <h1> Hastalar</h1>
            </div>
           


            <div class="search">
                <form autocomplete="off" action="/controllers/database/admin.js">
                    <div class="autocomplete inputs" style="width:300px;">
                        <input id="myInput" type="text" name="myCountry" placeholder="Hasta Seç">
                        <input type="submit" value="Getir">
                    </div>

                </form>
                <div class="add_customer_btn">Hasta Ekle +</div>

                <div class="add_customer modal">
                    <h2>Yeni Hasta Ekle</h2>
                    <form action="" method="" id="register-form">
                        <div class="inputs ">
                            <span>İsim</span>
                            <input type="text" name="name" id="user-name" required
                                placeholder="Lütfen bir kullanıcı adı giriniz">
                        </div>

                        <div class="inputs ">
                            <span>Soyisim</span>
                            <input type="text" name="surname" id="surname">
                        </div>
                        <div class="options">
                            <span>Cinsiyet:</span>
                            <div>
                                <input type="radio" id="credit_card_ratio" name="sex" value="credit_card">
                                  <label for="credit_card_ratio">Kadın</label>
                            </div>
                            <div>
                                <input type="radio" id="cash_ratio" name="sex" value="cash">
                                  <label for="cash_ratio">Erkek</label>
                            </div>

                        </div>
                        <div class="inputs ">
                            <span>Doğum Tarihi</span>
                            <input type="date" name="birtdhDate" id="birtdhDate">
                        </div>
                        <div class="inputs ">
                            <span>Adres</span>
                            <input type="text" name="address" id="address">

                        </div>
                        <div class="inputs ">
                            <span>Telefon</span>
                            <input type="number" name="phone" id="phone">
                        </div>
                        <div class="inputs ">
                            <span>Mail</span>
                            <input type="email" name="email" id="email">
                        </div>

                        <div class="inputs ">
                            <span>Fatura Bilgisi:</span>
                            <textarea name="billingAddress" id="billingAddress" cols="70" rows="2"></textarea>
                        </div>
                        <div class="inputs ">
                            <span>Açıklama</span>
                            <textarea name="notes" id="notes" cols="70" rows="2"></textarea>
                        </div>
                        <button type="submit" class="save_button" id="add-user">Kaydet</button>
                        <button class="cancel_button">Vazgeç</button>
                    </form>
                </div>


                <div class="print">

                    <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                    <div class="print-selection">
                        <label>Export As &nbsp; &#10140</label>
                        <label for="" class="to_pdf" onclick="window.print()">PDF<span
                                class="material-symbols-sharp">picture_as_pdf</span></label>
                        <label for="" class="to_json">JSON<span class="material-symbols-sharp"></span></label>
                        <label for="" class="to_xlsx">XLSX<span
                                class="material-symbols-sharp">description</span></label>
                    </div>

                </div>


            </div>


            <div>
                
            </div>
            <div class="user-table">
                <table id="user-table-main">
                    <thead>
                        <th><input type="checkbox" class="select_all_rows" option_id="select_all"
                                onchange="selectAll(this)"><span>Hepsini seç</span></th>
                        <th>id<span class="material-symbols-sharp ">north</span></th>
                        <th>İsim Soyisim<span class="material-symbols-sharp">north</span></th>
                        <th>Borç Durumu<span class="material-symbols-sharp">north</span></td>
                        <th>Telefon<span class="material-symbols-sharp">north</span></th>
                        <th>Seans Durumu<span class="material-symbols-sharp">north</span></th>
                    </thead>
                    <tbody  id="userList">
                        

                            
                    </tbody>






                </table>

            </div>
            <div class="pagination">
                <a href=""><span class="page-active">1</span></a>
                <a href=""><span>2</span></a>
                <a href=""><span>3</span></a>
                <a href=""><span>>>Sonraki Sayfa</span></a>

            </div>
            <div>
                <div id="demo"></div>




        </main>
    </div>

    
    <script type="module" src="../js/autocomplete.js"></script>
    <script type="module" src="../js/requests.js"></script>
    <script type="module" src="../js/users.js"></script>
    


</body>

</html>