<aside>

    <div class="container-sidebar">
        <div class="sidebar">
            <div class="menu-btn">
                <i class="ph-bold ph-caret-left"></i>
            </div>
            <div class="head">
                <div class="user-img">
                    <span>AY</span>
                </div>
                <div class="user-details"><% if (locals.user) { %>
                    <p class="title"><%= user.companyName %></p>
                <% } %>
                    
                    <p class="name">Ahmet Yavuz</p>
                </div>
            </div>
            <div class="nav">
                <div class="menu">
                    <p class="title">Menü</p>
                    <ul>
                        <li>
                            <a href="/admin" <% if (link==="index" ) { %>class="active"<% } %>>
                                    <i class="icon ph-bold ph-house-simple"></i>
                                    <span class="text">Anasayfa</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users" <% if (link==="users" ) { %>class="active"<% } %>>
                                <i class="icon ph-bold ph-users"></i>
                                    <span class="text">Hastalar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/personels" <% if (link==="personels" ) { %>class="active"<% } %>>
                                <i class="icon ph-bold ph-stethoscope"></i>
                                    <span class="text">Personel</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/sessions" <% if (link==="sessions" ) { %>class="active"<% } %>>
                                <i class="icon ph-bold ph-calendar-check"></i>
                                    <span class="text">Seanslar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/services/" <% if (link==="services" ) { %>class="active"<% } %>>
                                <i class="icon ph-bold ph-eyedropper"></i>
                                    <span class="text">Hizmetler</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/payments" <% if (link==="payments" ) { %>class="active"<% } %>>
                                <i class="icon ph-bold ph-currency-circle-dollar"></i>
                                    <span class="text">Kasa</span>
                            </a>
                        </li>
                        
                        
                        <li>
                            <a href="#">
                                <i class="icon ph-bold ph-chart-bar"></i>
                                <span class="text">İstatistik</span>
                                <i class="arrow ph-bold ph-caret-down"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/admin/statics/payment-statics">
                                        <span class="text">Kasa İstatistikleri</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/statics/users-statics">
                                        <span class="text">Kullanıcı İstatistikleri</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/statics/personels-statics">
                                        <span class="text">Personel İstatistikleri</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/statics/appointments-statics">
                                        <span class="text">Randevu İstatistikleri</span>
                                    </a>
                                    
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu">
                    <p class="title">Ayarlar</p>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="icon ph-bold ph-gear"></i>
                                <span class="text">AYARLAR</span>
                                <i class="arrow ph-bold ph-caret-down"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/admin/settings">
                                        <span class="text">Şirket Bilgileri</span>
                                    </a>
                                </li>
                                
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <p class="title">Hesap</p>
                <ul>
                    <li>
                        <a href="/admin/tickets">
                            <i class="icon ph-bold ph-info"></i>
                            <span class="text">Yardım Al</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/logout">
                            <i class="icon ph-bold ph-sign-out"></i>
                            <span class="text">Çıkış</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</aside>