<div class="sidebar">
    <div class="menu-btn">
        <i class="ph-bold ph-caret-left"></i>
    </div>
    <div class="head">
        <a href="/admin"><img src="/photos/logo.png" alt=""></a>

    </div>
    <div class="nav">
        <div class="menu">
            <p class="title">Menü</p>
            <ul>
                <li>
                    <a href="/admin" <% if (link==="index" ) { %>class="active"<% } %>>
                            <i class="icon ph-bold ph-house-simple"></i>
                            <span class="text">Anasayfa</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/users" <% if (link==="users" ) { %>class="active"<% } %>>
                            <i class="icon ph-bold ph-users"></i>
                            <span class="text">Hastalar</span>
                    </a>
                </li>
                <% if(!locals.employee.permissions.includes("employee_view")){ %>
                    <li onclick="alert('yetkili değilsiniz');return false" class="deactivate" title="Sadece Yönetici">
                        <a href="/admin/employees" <% if (link==="employees" ) { %>class="active"<% } %>>
                                <i class="icon ph-bold ph-stethoscope"></i>
                                <span class="text">Personeller</span>
                                <i class="ph ph-star"></i>
                        </a>
                    </li>
                    <% } else{ %>
                        <li>
                            <a href="/admin/employees" <% if (link==="employees" ) { %>class="active"<% } %>>
                                    <i class="icon ph-bold ph-stethoscope"></i>
                                    <span class="text">Personeller</span>
                            </a>
                        </li>
                        <% } %>

                            <li>
                                <a href="/admin/appointments" <% if (link==="appointments" ) { %>class="active"<% } %>>
                                        <i class="icon ph-bold ph-calendar-check"></i>
                                        <span class="text">Seanslar</span>
                                </a>
                            </li>
                            <% if(!locals.employee.permissions.includes("service_view")){
                                %>
                                <li onclick="alert('yetkili değilsiniz');return false" class="deactivate">
                                    <a href="/admin/services" <% if (link==="services" ) { %>class="active"<% } %>>
                                            <i class="icon ph-bold ph-eyedropper"></i>
                                            <span class="text">Hizmetler</span>
                                    </a>
                                </li>
                                <% } else{ %>
                                    <li>
                                        <a href="#" <% if (link==="services" ) { %>class="active"<% } %>>
                                                <i class="icon ph-bold ph-eyedropper"></i>
                                                <span class="text">Tanımlamalar</span>
                                                <i class="arrow ph-bold ph-caret-down"></i>
                                        </a>
                                        <ul class="sub-menu">

                                            <li>
                                                <a href="/admin/services">
                                                    <span class="text">Hizmetler</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/admin/datas">
                                                    <span class="text">Veriler</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/admin/products">
                                                    <span class="text">Ürünler</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/admin/sms">
                                                    <span class="text">Sms</span>
                                                </a>
                                            </li>


                                        </ul>
                                    </li>
                                    <% } %>


                                        <% if(!locals.employee.permissions.includes("payment_view")){ %>
                                            <li onclick="alert('yetkili değilsiniz');return false" class="deactivate">
                                                <a href="/admin/payments" <% if (link==="payments" ) { %>class="active"
                                                    <% } %>>
                                                        <i class="icon ph-bold ph-currency-circle-dollar"></i>
                                                        <span class="text">Kasa</span>
                                                </a>
                                            </li>
                                            <% } else{ %>
                                                <li>
                                                    <a href="/admin/payments" <% if (link==="payments" ) {
                                                        %>class="active"<% } %>>
                                                            <i class="icon ph-bold ph-currency-circle-dollar"></i>
                                                            <span class="text">Kasa</span>
                                                    </a>
                                                </li>
                                                <% } %>



                                                    <li>
                                                        <a href="#" <% if (link==="statics" ) { %>
                                                            class="active"
                                                            <% } %>>
                                                                <i class="icon ph-bold ph-chart-bar"></i>
                                                                <span class="text">İstatistik</span>
                                                                <i class="arrow ph-bold ph-caret-down"></i>
                                                        </a>
                                                        <ul class="sub-menu">

                                                            <li>
                                                                <a href="/admin/statics/users-statics">
                                                                    <span class="text">Kullanıcı İstatistikleri</span>
                                                                </a>
                                                            </li>


                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#" <% if (link==="reports" ) { %>
                                                            class="active"
                                                            <% } %>>
                                                            <i class="icon ph-bold ph-files"></i>
                                                                <span class="text">Raporlar</span>
                                                                <i class="arrow ph-bold ph-caret-down"></i>
                                                        </a>
                                                        <ul class="sub-menu">

                                                            <li>
                                                                <a href="/admin/reports/appointmentReportsPage">
                                                                    <span class="text">Randevu Raporları</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/admin/reports/userReportsPage">
                                                                    <span class="text">Hasta Raporları</span>
                                                                </a>
                                                            </li>
                                                           
                                                            <li>
                                                                <a href="/admin/reports/paymentReportsPage">
                                                                    <span class="text">Kasa Raporları</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/admin/reports/productReportsPage">
                                                                    <span class="text">Ürün Raporları</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/admin/reports/getSmsReportsPage">
                                                                    <span class="text">Sms Raporları</span>
                                                                </a>
                                                            </li>


                                                        </ul>
                                                    </li>
            </ul>
        </div>
        <div class="menu">
            <p class="title">Ayarlar</p>
            <ul> 
                                <li>
                                    <a href="#" <% if (link==="settings" ) { %>
                                        class="active"
                                        <% } %>>
                                            <i class="icon ph-bold ph-gear"></i>
                                            <span class="text">AYARLAR</span>
                                            <i class="arrow ph-bold ph-caret-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                                    <a href="/admin/employeeSelf/<%=locals.employee._id %>">
                                                            <i class="icon ph-bold ph-stethoscope"></i>
                                                            <span class="text">Ayarlarım</span>
                                                    </a>
                                                    
                                                </li>
                                        <% if(!locals.employee.permissions.includes("settings_view")){ %>
                                            <li onclick="alert('yetkili değilsiniz');return false" class="deactivate" title="Yetkiniz Yok">
                                                <a href="/admin/settings" <% if (link==="settings" ) { %>class="active"<% } %>>
                                                        <i class="icon ph-bold ph-stethoscope"></i>
                                                        <span class="text">Şirket Ayarları</span>
                                                        <i class="ph ph-star"></i>
                                                </a>
                                            </li>
                                            <% } else{ %>
                                                <li>
                                                    <a href="/admin/settings" <% if (link==="settings" ) { %>class="active"<% } %>>
                                                            <i class="icon ph-bold ph-stethoscope"></i>
                                                            <span class="text">Şirket Ayarları</span>
                                                    </a>
                                                </li>
                                                <% } %>


                                    </ul>
                                </li>
                        </ul>
        </div>
    </div>
    <div class="menu">
        <p class="title">Hesap</p>
        <ul>
                    <li>
                        <a href="#" <% if (link==="companyPaymentPage" ) { %>
                            class="active"
                            <% } %>>
                                <i class="icon ph ph-cardholder"></i>
                                <span class="text">Abonelik-Ödeme</span>
                                <i class="arrow ph-bold ph-caret-down"></i>
                        </a>
                        <ul class="sub-menu">

                        
                                        <% if(!locals.employee.permissions.includes("settings_view")){ %>
                                            <li onclick="alert('yetkili değilsiniz');return false" class="deactivate" title="Yetkiniz Yok">
                                                <a href="/admin/companyPaymentsList" <% if (link==="settings" ) { %>class="active"<% } %>>
                                                        <span class="text">Satın Almalar</span>
                                                        <i class="ph ph-star"></i>
                                                </a>
                                            </li>
                                            <li onclick="alert('yetkili değilsiniz');return false" class="deactivate" title="Yetkiniz Yok">
                                                <a href="/admin/companyPaymentPage" <% if (link==="settings" ) { %>class="active"<% } %>>
                                                    <span class="text">Ödeme Yap</span>
                                                        <i class="ph ph-star"></i>
                                                </a>
                                            </li>
                                            <% } else{ %>
                                                <li>
                                                    <a href="/admin/companyPaymentsList">
                                                        <span class="text">Satın Almalar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/admin/companyPaymentPage">
                                                        <span class="text">Ödeme Yap</span>
                                                    </a>
                                                </li>
                                                <% } %>



                            
                          


                        </ul>

                    </li>
                



                        <li>
                            <a href="/admin/logout">
                                <i class="icon ph-bold ph-sign-out"></i>
                                
                                <span class="text">Çıkış</span>
                            </a>
                        </li>
        </ul>
    </div>
</div>