<aside>
    

    <div class="sidebar">
        <a href="/admin" <% if (link==="index") { %>class="active"<% } %>>
            <span class="material-symbols-sharp">grid_view</span>
            <h3>Anasayfa</h3>
        </a>
        <a href="/admin/users" <% if (link==="users") { %>class="active"<% } %>>
            <span class="material-symbols-sharp">group</span>
            <h3>Hastalar</h3>
        </a>
        <a href="/admin/personels" <% if (link==="personels") { %>class="active"<% } %> >
            <span class="material-symbols-sharp">
                clinical_notes
                </span>
            <h3>Personeller</h3>
        </a>
        <a href="/admin/sessions" <% if (link==="sessions") { %>class="active"<% } %>>
            <span class="material-symbols-sharp">
                pending_actions
            </span>
            <h3>Randevular</h3>
            <span class="message-count">24</span>
        </a>
        <a href="/admin/services" <% if (link==="services") { %>class="active"<% } %>>
            <span class="material-symbols-sharp">surgical</span>
            <h3>İşlemler</h3>
        </a>
        <a href="/admin/statics" <% if (link==="statics") { %>class="active"<% } %>>
            <span class="material-symbols-sharp">query_stats</span>
            <h3>İstatistik</h3>
        </a>


        <a href="/admin/settings">
            <span class="material-symbols-sharp">settings</span></span>
            <h3>Ayarlar</h3>
        </a>
    </div>
</aside>