<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2023 ArchimetCRM Tüm Hakları Saklıdır
          
        </div>
      </div>
    </div>
  </footer>