<section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h4>Bütün <em>Özelliklerimizi keşfetmek</em> için:</h4>
        </div>
        <div class="col-lg-7">
          <div class="buttons">
            <div class="green-button">
              <a href="/our-services">Daha Fazlasını Keşfet</a>
            </div>
            <div class="orange-button">
              <a href="/contactus">İletişime Geç</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>