<header>
    <div class="head">
        <img src="/photos/logo.png" alt="">
    </div>
    <div>
        <div>
           Üyelik Bitiş: <%=(new Date(locals.company.subscribeEndDate).toLocaleDateString())%>
        </div>
       
        <div>
            <i class="ph ph-buildings"></i>
            <span class="text">
                <%= locals.company.brandName || "İşletme Adı" %>
            </span>
        </div>
        
        <div>
            <i class="ph ph-user-circle"></i>
            <span> <%= locals.employee.name ||"kullanıcı adı" %></span>/
            <span> <%= locals.employee.role %></span>

               
           
        </div>
    </div>


    </div>

    <a href="/admin/logout">
        <i class="icon ph-bold ph-sign-out"></i>
        <span class="text">Çıkış</span>
    </a>


</header>