<header>
    <div class="">
        <div class="logo">
            <a href="/admin"><h2>archimet <span class="danger">CRM</span></h2></a>
            
        </div>

    </div>
    <div class="top-right">
        <p class="user"><%=locals.user.authorizedName %></p>
        <div class="logout">
            <a href="/admin/logout"><span>Çıkış Yap</span> <span class="material-symbols-sharp">logout</span></a>
            
        </div>

    </div>
</header>