<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/sessions.css">

    <%- include('partials/head.ejs') %>

        <script src="/js/inner_modules/closeModal.js"></script>
</head>

<body>

        
            <!---------- left aside ------------->

       

                <!----------- end of sidebar ----------->

                <main>
                    <div class="header" style="text-align: center;">
                        <h1>Aradığınız sayfa bulunamadı.</h1>
                        <a href="/admin"><button >Ana Sayfa</button></a>
                        
                     
                    </div>

                    <div class="main main-sessions">


                        <script
                            src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://lottie.host/b8efa71d-061d-4879-af29-59f12ab73c04/YmAr6aNMim.json"
                            background="##fff" speed="1" style="width: 30%; height: auto; margin: 0 auto;" loop  autoplay
                            direction="1" mode="normal"></lottie-player>


                    </div>
                </main>




      







        <script src="/js/sidebar.js"></script>

</body>

</html>