<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="/css/companyPayment.css">
</head>

<body>
    <%- include("partials/aside.ejs") %>
        <section id="content">
            <%- include('partials/header.ejs') %>
                <!---------- left aside ------------->


                <main>

                    <div class="header">
                        <h1> Ödeme Yap</h1>
                        
                    </div>
                    <div class="paymentFrom">

                    </div>

                    <div class="companyPaymentContent">

                        <div class="premium">
                            <div class="plan_head">Aylık Ödeme</div>
                            <span class="price">500TL/Ay</span>
                            
                            <div>
                                <hr>
                                <ul>
                                    <li><i class="ph ph-check"></i>Sınırsız Randevu</li>
                                    <li><i class="ph ph-check"></i>Ürün / Hizmet Yönetimi</li>
                                    <li><i class="ph ph-check"></i>Gelişmiş Raporlama</li>
                                    <li><i class="ph ph-check"></i>Kasa (Gelir/Gider) Yönetimi</li>
                                    <li><i class="ph ph-check"></i>Sınırsız Eğitim</li>
                                </ul>
                            </div>
                            <div class="" data-price="1.00" data-type="aylık" data-paymentDuration="30">
                                <button class="select_packet">Seç</button>
                            </div>

                        </div>
                        <div class="premium">
                            <div class="plan_head">6 Aylık Ödeme</div>
                            <span class="price">400TL/Ay</span>
                            <span>(Kazancınız <b>600TL</b>)</span>
                            <span>Toplam tutar: 2400TL</span>
                            <div>
                                <hr>
                                <ul>
                                    <li><i class="ph ph-check"></i>Sınırsız Randevu</li>
                                    <li><i class="ph ph-check"></i>Ürün / Hizmet Yönetimi</li>
                                    <li><i class="ph ph-check"></i>Gelişmiş Raporlama</li>
                                    <li><i class="ph ph-check"></i>Kasa (Gelir/Gider) Yönetimi</li>
                                    <li><i class="ph ph-check"></i>Sınırsız Eğitim</li>
                                </ul>
                            </div>
                             
                            <div class="" data-price="2" data-type="6aylık" data-paymentDuration="180">
                                <button class="select_packet">Seç</button>
                            </div>

                        </div>
                        <div class="premium">
                            <div class="plan_head"> Yıllık Ödeme</div>
                            <span class="price">300TL/Ay</span>
                            <span>(Kazancınız <b>2400TL</b>)</span>
                            <span>Toplam tutar: 3600TL</span>
                            <div>
                                <hr>
                                <ul>
                                    <li><i class="ph ph-check"></i>Sınırsız Randevu</li>
                                    <li><i class="ph ph-check"></i>Ürün / Hizmet Yönetimi</li>
                                    <li><i class="ph ph-check"></i>Gelişmiş Raporlama</li>
                                    <li><i class="ph ph-check"></i>Kasa (Gelir/Gider) Yönetimi</li>
                                    <li><i class="ph ph-check"></i>Sınırsız Eğitim</li>
                                </ul>
                            </div>
                            <div class="" data-price="3" data-type="yıllık" data-paymentDuration="365">
                                <button class="select_packet">Seç</button>
                            </div>

                        </div>
                        <form action="./addCompanyPayment" method="POST" id="register-form">

                            <div class="inputs ">
                                <span>Kart Numarası</span>
                                <input type="text" name="cardNumber" id="cardNumber" value="5528790000000008" placeholder="5528790000000008" maxlength="16">
                            </div>
                            <div class="inputs ">
                                <span>Kart Sahibi</span>
                                <input type="text" name="cardUserName" id="cardUserName" value="John Doe" placeholder="John Doe" >
                            </div>
                            <div class="inputs dates">
                                <div>
                                    <span>expireMonth</span>
                                    <input type="number" name="expireMonth" id="expireMonth" value="12" placeholder="12" max="12">
                                </div>
                                <div>
                                    <span>expireYear</span>
                                    <input type="number" name="expireYear" id="expireYear" value="2030" placeholder="2030" maxlength="4">
                                </div>
                                <div>
                                    <span>cvc</span>
                                    <input type="number" name="cvc" id="cvc" value="123" placeholder="123" maxlength="3">
                                </div>
                            </div>
                            
                            <div class="registerCard">
                                <input type="checkbox" name="registerCard" id="" value="1">
                                <span>Kartımı Sakla</span>

                            </div>


                            <button type="submit" class="save_button" id="add-user">Ödeme Yap</button>
                            

                        </form>
                        <button type="" class="" id="pay-button">Ödeme Yap</button>
                        <div style="font-size: 1.5rem;">
                            <span>Toplam Tutar:</span>
                            <span class="total">0</span><span>TL</span>
                        </div>
                        <div class="installement">
                            
                        </div>
                    </div>
                    <div id="iyzipay-checkout-form" class="popup">
                        
                    </div>





                </main>
                <div class="information-modal-wrapper"></div>
                <div class="loader_wrapper hidden">
                    <img src="../photos/loading.gif" alt="" class="loader">
                </div>



        </section>
        <div class="response_modal"></div>


        <script type="module" src="/js/companyPayment.js"></script>
        <script type="module" src="../js/requests.js"></script>

       
        <script src="/js/sidebar.js"></script>




</body>

</html>