<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="/css/companyPayment.css">
</head>

<body>
    <%- include("partials/aside.ejs") %>
        <section id="content">
            <%- include('partials/header.ejs') %>
                <!---------- left aside ------------->


                <main>

                    <div class="header">
                        <h1> Ödeme Yap</h1>
                        
                    </div>
                    <div class="paymentFrom">

                    </div>

                    <div class="companyPaymentContents">

                        <div class="companyPaymentContent">
                            <div class="plan_head">Yeni Paket</div>
                            <form action="" id="add_subscription">
                                <div class="plan_body">
                                    <span>İlk Personel 750TL</span> <br>
                                    <span>Ek her personel için 250TL</span>
                                    <hr>
                                    <br>
                                <div class="form-group">
                                    <label for="userCount">Personel sayısı</label>
                                    <input type="number" id="userCount" name="userCount" min="1" max="100" value="1">
                                </div>
                                <div class="form-group">
                                    <label for="mounthCount">Süre</label>
                                    <select name="mounthCount" id="mounthCount">
                                        <option value="1">1 Ay</option>
                                        <option value="3">3 Ay</option>
                                        <option value="6">6 Ay</option>
                                        <option value="12">12 Ay</option>
                                    </select>
                                </div>
                                <div style="padding: 0.5rem;">
                                    Toplam Tutar: <span id="payment_value">750</span> TL
                                </div>
                                <div class="">
                                    <button class="btn save">Satın Al</button>
                                </div>
                                </div>
    
                            </div>

                            </form>
                            
                        
                       
                        
                       
                    </div>
                  





                </main>
                <div class="information-modal-wrapper"></div>
                <%- include('partials/loader.ejs') %>



        </section>
        <div class="response_modal"></div>


        <script type="module" src="/js/companyPayment.js"></script>
        <script type="module" src="../js/requests.js"></script>

       
        <script src="/js/sidebar.js"></script>




</body>

</html>