<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="../css/statics.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <!---------- left aside ------------->
        <%- include('partials/aside.ejs') %>

        <!----------- end of sidebar ----------->

        <main>
            <div class="">
                <h1> İSTATİSTİKLER</h1>
                <hr>
                <form action="">
                    <div>
                        <span>Başlangıç:</span>
                        <input type="date" class="start-date">
                    </div>
                    <div>
                        <span>Bitiş:</span>
                        <input type="date" class="end-date">
                    </div>
                    
                    <button class="buttons statics-filter-button">Listele</button>
                </form>
                <hr>

                <div class="statics">
                    
                    <div id="sex_statics" ></div>
                    <div id="payment_statics" ></div>
                    <div id="proccessType_statics" ></div>
                    <div id="revenue_statics"></div>

                </div>
            </div>


        </main>
    </div>

    

    <script type="module" src="../js/statics.js"></script>
    <script type="module" src="../js/statics.js"></script>
    <script type="module" src="/js/requests.js"></script>
    <script src="/js/sidebar.js"></script>
    
    
</body>

</html>