.search {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }

  
div.search input[type="search"] {
    padding: 1rem;
    font-size: 1rem;
    border-radius: var(--border-radius-2);
    color: gray;
  }

  .autocomplete {
    display: flex;
    gap: 0.5rem;
}
#selected-operations-for-add div{
  background-color: var(--color-main-lighter3);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: fit-content;

}

main .content {
  display: flex;
  gap: 1.6rem;
  height: 90%;
  overflow: auto;

}

main .content > div {
  background-color: var(--color-white);
  border: 1px solid var(--color-main-lighter3);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  background-color: var(--color-white);
  width: 100%;
}


main .content > div:hover {
  box-shadow: none;
}
main .content h2 {
  text-align: center;
}

#operations_content {
  height: 90%;
  overflow: auto;
  padding: 0.5rem;
}


.appointments-of-doctor .event {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border-top: 1px solid #fdfdfd;
  padding: 1rem;
  background-color: var(--color-main-lighter3);
}

.appointments-of-doctor {
  text-align: center;
  background-color: rgba(95, 95, 89, 0.06);
  border: 1px solid rgba(255, 0, 0, 0.107);
  border-radius: 0.5rem;
  width: 250px;
  height: 500px;
  overflow-x: auto;
}
.full {
  background-color: rgba(216, 112, 147, 0.2) !important;
}
.finished {
  background-color: rgba(128, 128, 128, 0.272)!important;
}

.center {
  display: flex;
  flex-direction: column;
}
.operation-wrapper{
  border: 1px solid var(--color-main-lighter3);
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  padding: 0.5rem;
}


.operation-describe {
  border-top: 1px solid rgba(128, 128, 128, 0.185);
  border-bottom: 1px solid rgba(128, 128, 128, 0.185);
  padding: 0.2rem;
}


input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
}
.session-of-operation{
  display: flex;
  align-items: center;
  gap:1rem
 }
 .operation_header h3 {
  text-align: center;
  padding-bottom: 0.5rem;
 }
 .operation .fa-solid{
  padding: 0.5rem;
  cursor: pointer;
}
 .operation .fa-solid:hover{
  outline: 1px solid #fb0;
 
  border-radius: 0.5rem;
}
.session-of-operation{
  border: 1px solid rgba(128, 128, 128, 0.402);
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: aliceblue;
  width: fit-content;
  margin-left: 1rem;
}
.operation-datas div,.data_options div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data_options{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  border-radius: 0.3rem;
  padding: 0.2rem 0.6rem;
}
.operation_datas{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#add_operation_btn{
  display:none;
  width: 100px;
  margin: 0 auto;
}



  @media (max-width: 768px) {
    .search form {
      width: 100%;
    }
    .autocomplete {
      width: 100%;
      justify-content: space-around;
    }
    .pagination span {
      font-size: 0.5rem;
    }
  }