@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation:wght@500&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;

    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 1rem var(--color-light);

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}


.container {
    font-family: 'Poppins', sans-serif;
    
    max-width: 700px;
    border:1px solid gray;
    border-radius: var(--card-border-radius);
    
    display: flex;
    justify-content: center;
    margin: 50px auto;
    box-shadow: var(--box-shadow);
    background-color: white;
    flex-direction: column;
    align-items: center;
    
    
    
}

.container h2{
    
  text-align: center;
 
}

 

.container form {
    
   
   width: 100%;
   padding: 50px 20px;
    
}
.container form span {
    
 font-size: 1rem;
 font-weight: 600;

  
    
}
.container form input {
    
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  height: 3rem;
    
}
.container form button {
    
 
 width: 100%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  
  background-color: var(--color-success);
  cursor: pointer;
    font-size: 1.3rem;
  color: var(--color-dark);
  
    
}
