
.payment-form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
}
.payments-filter-button {
    padding: 0.75rem;
}

.payments-add-button {
    
    padding: 0.75rem;
    background-color: var(--color-success);
    color:black ;
}
.expenses-add-button {
    padding: 0.75rem;
    background-color: var(--color-danger);
    color: black;
}

.edit_payment {
   cursor: pointer;
}
.edit_payment_small_modal {
    
    display: flex;
    flex-direction: column;
   width: 100px;
   position: absolute;
   border-radius: var(--border-radius-1);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   display: none;
   background-color: white;
   
   
}
.edit_payment_small_modal.showed_modal {
    display: block;
    z-index: 999;
}
.edit_payment_small_modal button {
    
   width: 100px;
   cursor: pointer;
   border: none;
   padding: 0.5rem;
   
}
.edit_payment_small_modal a {
  display: block;
   width: 100px;
   cursor: pointer;
   border: none;
   padding: 0.5rem;
   
}
.edit_payment_small_modal a:hover {
    
   background-color: var(--color-danger);
   
}
.edit_payment_small_modal button:hover {
    
   background-color: var(--color-danger);
   
}

@media (max-width:768px) {
  .edit_payment_small_modal.showed_modal {
    
    right: 0px;
    top:40px;
    z-index:999
}
}