@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation:wght@500&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap");

/* ROOT VARİABLES */
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;

  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 1rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* appearance: none; */
  /* border: none; */
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
input {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}
.payment-form {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
.payments-filter-button {
    padding: 0.75rem;
}
.payments-add-button {
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: var(--color-success);
    color:black ;
}
.expenses-add-button {
    padding: 0.75rem;
    background-color: var(--color-danger);
    color: black;
}

.edit_payment {
   cursor: pointer;
}
.edit_payment_small_modal {
    
    display: flex;
    flex-direction: column;
   width: 100px;
   position: absolute;
   border-radius: var(--border-radius-1);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   display: none;
   background-color: white;
   
   
}
.edit_payment_small_modal.showed_modal {
    display: block;
    
    
   
}
.edit_payment_small_modal button {
    
   width: 100px;
   cursor: pointer;
   border: none;
   padding: 0.5rem;
   
}
.edit_payment_small_modal a {
  display: block;
   width: 100px;
   cursor: pointer;
   border: none;
   padding: 0.5rem;
   
}
.edit_payment_small_modal a:hover {
    
   background-color: var(--color-danger);
   
}
.edit_payment_small_modal button:hover {
    
   background-color: var(--color-danger);
   
}

