:root{
    --border-style-1:1px solid rgba(128, 128, 128, 0.55);
}
.payment-form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
}
.payments-filter-button {
    padding: 0.75rem;
}

#modal_payment .inner_modal,#modal_edit_payment .inner_modal {
width:min-content;
}

.payments-add-button {
    
    padding: 0.75rem;
    background-color: var(--color-success);
    color:black ;
}
.expenses-add-button {
    padding: 0.75rem;
    background-color: var(--color-danger);
    color: black;
}
.selected_proccess_type_add{
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    overflow-x: auto;
    margin-top: 0.5rem;
    
   border:var(--border-style-1);
    border-radius: var(--border-radius-1);
  }
.selected_proccess_type_add div{

    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.283);
    border-radius: var(--border-radius-1);
    
    
  }
.selected_proccess_type_add div input{
    border: none;
    padding: 0 0.5rem;
    background-color: white;
  }
.selected_proccess_type_add div i{
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border-left: 1px solid rgba(128, 128, 128, 0.283);
    border-radius: var(--border-radius-1);
}
.selected_proccess_type_add div i:hover{
    background-color: red;
    border-bottom-right-radius: var(--border-radius-1);
    border-top-right-radius: var(--border-radius-1);
}


.selected_proccess_table input, .selected_proccess_table_edit input{
    /* width: 60px; */
}

.edit_payment {
   cursor: pointer;
}
.edit_payment_small_modal {
    
    display: flex;
    flex-direction: column;
   width: 100px;
   position: absolute;
   right: 0;
   border-radius: var(--border-radius-1);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   display: none;
   background-color: white;
   
   
}
.edit_payment_small_modal.showed_modal {
    display: block;
    z-index: 999;
    padding: 0.5rem;
    border-radius: 1rem;
}
.edit_payment_small_modal button {
    
   width: 100%;
   cursor: pointer;
   border: none;
   padding: 0.5rem;
   border-radius: 1rem;
   background-color: white;
}
thead td {
    white-space: nowrap
}
tbody td:first-child span{
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
tbody td:last-child{
    width: 10px;
}
.edit_payment_small_modal a {
  display: block;
   width: 100px;
   cursor: pointer;
   border: none;
   padding: 0.5rem;
   
}
.edit_payment_small_modal a:hover {
    
   background-color: var(--color-danger);
   
}
.edit_payment_small_modal button:hover {
    
   background-color: var(--color-danger);
   
}

@media (max-width:768px) {
  .edit_payment_small_modal.showed_modal {
    
    right: 0px;
    top:40px;
    z-index:999
}
}