tr .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.inputs input{
    border: 1px solid rgba(128, 128, 128, 0.394);
    display: block;
    background-color: #f4f6f8;
    border-radius: var(--border-radius-1);
    padding: 0.5rem;
    color: var(--color-dark-variant);
    cursor: pointer;
    width: max-content;
}
.inputs i{
    font-size: 1.3rem;
    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.374);
    border-radius: 0.2rem;
    cursor: pointer;
    display: none;
}
button {
    border: 1px solid rgba(128, 128, 128, 0.394);
    display: block;
    background-color: #f4f6f8;
    border-radius: var(--border-radius-1);
    padding: 0.5rem;
    color: var(--color-dark-variant);
    cursor: pointer;
    width: 100%;
}
i {
cursor: pointer;
}
.fa-trash,.fa-pen-to-square{
    border: 1px solid gray;
    border-radius: var(--border-radius-1);
    padding: 0.2rem;
}
.fa-trash:hover,.fa-pen-to-square:hover{
    background-color: rgb(225, 224, 224);
}
.inputs i.showed{
    display: block;
}

a{
    display: block;
}
/* a:hover{
    background-color: rgba(128, 128, 128, 0.4);
    padding: 0.4rem 0;
    border-radius: 0.5rem;
} */