:root {
  
    --color-main: #04d9d9;
    --color-main-lighter: #5FD9D9;
    --color-main-lighter2: #94F2F2;
    --color-main-lighter2: #94F2F2;
    --color-main-lighter3: #B6F2F2;
    --color-main-gray: #F2F2F2;
}
.statics-wrapper{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    
}
.statics-menu{
    display: flex;
    padding: 0.5rem;
    width: 20%;
}
.statics-area{
    /* background-color: rgb(204, 204, 116); */
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 1rem;
    width: 100%;
}


.statics-menu ul li{
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    cursor: pointer;
}
.statics-menu ul li.showed{
    border: 2px solid var(--color-main);
    background-color: #04d9d916;
    color: black;
}
.statics-menu ul li:hover{
    border:2px solid  var(--color-main-lighter);
}
.statics{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.filter-info{
    display: none;
}
.filter-info.showed{
    display: block;
}
.statics-area form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
   
    
}

.main-svg{
    border: 1px solid rgba(128, 128, 128, 0.174);
    border-radius: 1rem;
  
}
input[type="date"]{
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 5px;
    

}



.date_btn {
    
    background-color: aquamarine;
    
    padding: 0.5rem;
    border:1px solid gray;
    border-radius: 4px;
    
}

hr {
    margin: 1rem 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}



