@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation:wght@500&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap");

/* ROOT VARİABLES */
:root {
  --color-main: #04d9d9;
  --color-main-lighter: #5fd9d9;
  --color-main-lighter2: #94f2f2;
  --color-main-lighter2: #94f2f2;
  --color-main-lighter3: #b6f2f2;
  --color-main-lighter4: #b6f2f27b;
  --color-main-gray: #f2f2f2;
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);

  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-danger-dark: #ff3949;
  --color-danger-soft: #fea1a9;
  --color-success: #41f1b6;
  --color-success-dark: #08eb9f;
  --color-success-soft: #7af3cb;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #1d1f21;
  --color-border-color: #bcbec15d;

  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 1rem var(--color-light);
  --border-style-1:1px solid rgba(128, 128, 128, 0.55);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* appearance: none; */
  /* border: none; */
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.table-wrapper table tbody tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.05);
}
input::placeholder {
  opacity: 0.5;
}

* {
  /* user-select: none; */
}
.disable{
  background-color: #8080804d !important;
    cursor: auto impot !important;
}

html {
  font-size: 14px;
}
input {
  font-family: "Poppins", sans-serif;
}

.search{
  padding-left: 1rem
}

.tdInputs{
  width: 100px;
  border: 1px solid rgba(128, 128, 128, 0.432);
  padding: 0.3rem;
  border-radius: 0.2rem;

}
.tdInputs.deactive{
  color: rgba(128, 128, 128, 0.45);
  border: none;
  
}
input[type="radio"] {
  width: 1.2rem;
}
.logo {
  width: 18%;
  height: 60px;
  display: flex;
}
.logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.centered_cell{
 margin: 0 auto;
}
.loader_wrapper.hidden {
  display: none;
}
.loader_wrapper.showed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff79;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s;
}
.loader_inner_wrapper {
  justify-content: center;
  background-color: white;
  padding: 4rem;
  box-shadow: var(--box-shadow);
  border-radius: 1.5rem;
}
.loader {
  width: 100px;
}
.container-login form input::placeholder {
  color: rgba(128, 128, 128, 0.511);
}
.response_modal {
  position: fixed;
  top: 15%;
  right: 2%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: #fff; */
  z-index: 999;
  transition: opacity 0.75s;
}
.response_modal .response_success {
  font-size: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  background-color: #41f1b6;
  border: 2px solid rgba(37, 247, 177, 0.753);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.response_modal .response_failure {
  font-size: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  background-color: #f14164;
  border: 2px solid rgba(247, 37, 86, 0.753);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.response_modal div i {
  font-size: 1.5rem;
  padding: 0.3rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  cursor: pointer;
}
.response_modal div i:hover {
  background-color: red;
}

button {
  border: 1px solid rgba(128, 128, 128, 0.394);
  padding: 0.5rem;
  color: var(--color-dark-variant);
  cursor: pointer;
}
.add {
  background-color: var(--color-success);
  width: max-content;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}
.centered_div {
  display: flex;
  justify-content: center;
}
hr {
  /* margin: 1rem 0; */
}
.toast-container{
  position: fixed;
  top:80px;
  right: 10px;
  width: 20%;
  z-index: 999;
}
.information {
  display: flex;
  gap: 1rem;
  color: white;
  align-items: center;
  justify-content: space-between;
  right: 5%;
  top: 20%;
  z-index: 997;
  border-radius: var(--border-radius-1);
  position: relative;
  opacity: 0;
  height: fit-content;
  /* transition: opacity 1s ease; */
  transition: height 0.5s ease;
   /* Bildirimler arasında bir boşluk bırakır */
}

.information.failure {
  opacity: 1;
  color:white;
  background-color:#ff7783;
  border: 1px solid var(--color-danger);
}

.information.success {
  opacity: 1;
  color:white;
  background-color: #10ffb0;
  border: 1px solid var(--color-success);
}

.information i {
  font-size: 1.5rem;
}
.information .fa-solid.fa-xmark.danger{
  background-color:#fe4e5d;
  border-radius: var(--border-radius-1);
  padding: 0.8rem;
  cursor: pointer;
  color: white;
}
.information .fa-solid.fa-xmark.success{
  background-color:#11e8a1;
  border-radius: var(--border-radius-1);
  padding: 0.8rem;
  cursor: pointer;
  color: white;
}
.information .fa-solid.fa-xmark.success:hover{
  background-color: #00df94;
 
}
.information .fa-solid.fa-xmark:hover {
  background-color: var(--color-danger-dark);
  
}
.information .left-icon {
  padding-left: 1rem;
  
}
.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #76c7c0;
  width: 100%; /* Başlangıçta dolu */
  transition: none; /* İlk anda animasyonu devre dışı bırak */
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid rgba(128, 128, 128, 0.394) ;
  display: block;
  background-color: #f4f6f8;
  border-radius: var(--border-radius-1);
  padding: 0.5rem;
  color: var(--color-dark-variant);
  cursor: pointer;
  width: 100%;
}
.form-group input:read-only,
.form-group textarea:read-only,
{
  border: none;
  display: block;
  background-color: #f4f6f8;
  border-radius: var(--border-radius-1);
  padding: 0.5rem;
  color: var(--color-dark-variant);
  cursor: default;
  width: 100%;
}
.form-group.vertical {
  width: max-content;
}
dialog{
  left: 0;
  border: 1px solid rgba(128, 128, 128, 0.584);
  border-radius: 1rem;
  padding: 4rem 6rem;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  
  z-index: 999;
  
}
.warning_popup_wrapper{
  display: none;
}

.warning_popup_wrapper.showed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffffca;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s;
  min-width: 250px;
}
.btn-link {
  width: 100%;
    padding: 0.7rem;
    border-radius: var(--border-radius-1);
    border: 1px solid rgba(128, 128, 128, 0.394);
    display: block;
    cursor: pointer;
    color: black;
}

.warning_popup{justify-content: center;
  background-color: white;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  align-items: center;}
.form-group.horizontal select {
  padding: 0.7rem;
}
.form-group.horizontal fieldset {
  padding: 0.5rem;
  border: var(--border-style-1);
}
 fieldset legend {
  font-weight: 600;
}
.vertical  {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--color-border-color);
  border-radius: 0.5rem;
}
.form-group span{
font-weight: 600;
}

.horizontal-form{
display: flex;
align-items: center;
gap: 1rem;
}

 .chosen-single{
  height: max-content !important;
  padding: 0.4rem !important;
  border: 1px solid rgba(128, 128, 128, 0.394) !important;
}

 .chosen-single span{
font-weight: 400;

}
.chosen-container-multi .chosen-choices{
  padding: 0.4rem !important;
  border: 1px solid rgba(128, 128, 128, 0.394) !important;
  border-radius: 0.4rem !important;
}

/*  */

select {
  border: 1px solid rgba(128, 128, 128, 0.394);
  display: block;
  background-color: #f4f6f8;
  border-radius: var(--border-radius-1);
  padding: 0.5rem;
  color: var(--color-dark-variant);
  cursor: pointer;
  
}
select:hover {
  background-color: rgba(128, 128, 128, 0.116);
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  background-color: #dfdfdf2d;
 

  color: var(--color-dark);
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:var(--color-success-soft);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

section#content {
  position: relative;

  width: calc(100% - 256px);
  left: 256px;
  height: 100vh;
}

footer {
  background-color: #737fec76;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  font-size: 1.8rem;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-light);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}
.header {
  margin-bottom: 1rem;
}
.header h1 {
  padding: 0.5rem;
  padding-left: 1rem;
  background-color:var(--color-main-lighter4);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}
header {
  border-radius: var(--border-radius-2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding:1rem;
  height: 10%;
  gap: 1rem;
}

.logout {
  border: 1px solid gray;
  border-radius: var(--border-radius-2);
  background-color: var(--color-danger);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.logout:hover {
  background-color: var(--color-danger-dark);
  
}
header > div {
  display: flex;
  flex-direction: column;

  border-right: 2px solid var(--);
  padding-right: 1rem;
}
header div div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-align: center;
}
header div div i {
  font-size: 1.2rem;
}

.top-right {
  display: flex;
  flex-direction: column;
}


/*----------------- SİDEBAR */

.sidebar {
  position: fixed;

  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  overflow-x: auto;
  transition: all 0.3s;
  z-index: 997;
}

.sidebar .head {
  border-bottom: 1px solid #f6f6f6;
}
.sidebar img {
  width: 100%;
  padding: 1rem;
}

.user-img span {
  font-size: 1.8rem;
  font-weight: 600;
}
.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;

  padding-left: 0.5rem;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
}
.nav {
  flex: 1;
}
.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.menu ul li.deactivate {
  border-radius: 8px;
  background-color: var(--color-background);
}
.menu ul li.deactivate a {
  cursor: default;
}
.unauthorize {
  font-size: 1rem;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}
.menu ul li a.active {
  border: 2px solid var(--color-main);
  background-color: #04d9d916;
  color: black;
}

.docs_area{
  display: flex;
  gap: 1rem;
}
.docs_area .form-group{
  width: 250px;
  background-color: #00df951f;
  border: 1px solid var(--color-border-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.docs_area .form-group i{
  font-size: 1.5rem;
}
.docs_area .form-group a:hover,.docs_area .form-group i:hover{
  cursor: pointer;
 color: var(--color-main);
}



.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: #f6f6f6;
}
.menu ul li .icon {
  font-size: 20px;
}
.menu ul li .text {
  flex: 1;
}
.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}
.menu ul li.active .arrow {
  transform: rotate(180deg);
}
.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;

  position: relative;
  top: 0;
  width: 200px;
  border-radius: 20px;

  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}
.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}
.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
  display: none;
}
.menu-btn:hover i {
  color: #000;
}
.menu-btn i {
  transition: all 0.3s;
}
.sidebar.active {
  width: 92px;
}
.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .menu .title {
  text-align: center;
}
.sidebar.active .menu ul li .arrow {
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.credits {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

/* --------------- */

/* ------------------------MAİN-------------*/
main {
  display: flex;
  flex-direction: column;


  background-color: white;
  border-radius: var(--card-border-radius);
  margin: 0.5rem;
  height: 85%;
}
.main-header {
  border-bottom: 1px solid var(--color-border-color);
  padding-bottom: 1rem;
}

/* -------------------users ----------*/

table {
  border-collapse: collapse;
  width: 100%;

  transition: all 300ms ease;
}
table th {
  min-width: 30px;
  cursor: pointer;
  padding: 0.5rem;
}
table thead {
  border-bottom: 1px solid rgba(128, 128, 128, 0.237);
}
table th.active i {
  cursor: pointer;
  color: var(--color-success);
  border: 1px solid rgba(128, 128, 128, 0.418);
  border-radius: 50%;
  padding: 0.2rem 0.3rem;
}
table th.active.fa-solid.fa-arrow-up {
  border: 1px solid rgba(128, 128, 128, 0.418);
  border-radius: 50%;
  padding: 0.2rem 0.3rem;
}
.fa-solid.fa-arrow-up {
  margin-left: 0.3rem;
  padding: 0.2rem 0.3rem;
}
.fa-solid.fa-arrow-up:hover {
  outline: 1px solid rgba(128, 128, 128, 0.418);
  border-radius: 50%;
  padding: 0.2rem 0.3rem;
  color: var(--color-success);
}
.input_save_buttons {
  background-color: var(--color-success);
}
th.asc i {
  transform: rotate(180deg);
  border: 1px solid rgba(128, 128, 128, 0.418);
  border-radius: 50%;
  padding: 0.2rem 0.3rem;
}

td {
  padding: 0.5rem;
}

.table-wrapper {
  width: 100%;
  overflow: auto;
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: 1rem 0.5rem;
  border-radius: var(--border-radius-2);
  border: 1px solid var(--color-border-color);
}

.red_row {
  background-color: rgba(255, 109, 109, 1);
}
.green_row {
  background-color: rgba(173, 255, 173, 1);
}

tbody td,
tfoot td {
  border: 1px solid var(--color-light);
  color: var(--color-dark-variant);
  height: 3rem;
  text-align: center;
  position: relative;
}
.table_head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.hidden {
  display: none;
}
.clickable-icon{
  cursor: pointer;
  font-size: 1.2rem;
}
.clickable-icon:hover{
  color: var(--color-main);
}
.modal_content{
  padding: 1rem;
}


.slider-modal{
  width: 100% !important;
  height: 100%;
}
.save {
  background-color:var(--color-success) ;
}
.notr {
  background-color:var(--color-border-color) ;
}

.cancel {
  background-color: var(--color-danger);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffffb9;
  z-index: 998;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s;

}
.small_modal {
  display: flex;
  flex-direction: column;
 width: 100px;
 position: absolute;
 right: 0;
 border-radius: 1rem;
 padding: 0.5rem;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 display: block;
 background-color: white;
 z-index: 999;
}
.small_modal button:hover {
  background-color: var(--color-danger);
}
.small_modal button {
    
  width: 100%;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
}
.small_modal.hidden{
    display: none;
    z-index: 999;
    padding: 0.5rem;
    border-radius: 1rem;

}
.inner_modal{
  border:var(--border-style-1);
  border-radius: var(--border-radius-1);
  background-color: white;
  min-width: 30%;
  width: min-content;
  position: absolute;
  max-height: 100vh;
  overflow-x: auto;
}
.selected_proccess_type_edit{
  width: 100%;
  overflow: auto

}

thead th {
  white-space: nowrap
}
.table-button {
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.table-button:hover{
  background: #bcbec17d;
}
.table-button:active{
  background: #bcbec1a4;

}



table tbody tr:hover {
  background-color: var(--color-main-lighter2) !important;
}
table thead {
  font-weight: 600;
  text-align: center;
}

.continue {
  background-color: var(--color-success);
  border-radius: var(--border-radius-2);
  padding: 0.5rem;
  min-width: 25%;
}
.finish {
  background-color: var(--color-danger);
  border-radius: var(--border-radius-2);
  padding: 0.5rem;
}
.hoverable:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* table pagination */
.pagination {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  color: var(--color-dark-variant);
}
.pagination-describe {
  margin-top: 0.5rem;
  display: flex;

  justify-content: center;
  color: var(--color-dark-variant);
}

.pagination span {
  border: 1px solid var(--color-dark-variant2);
  padding: 0.6rem;
  text-align: center;
  font-size: 1rem;
  border-radius: var(--border-radius-1);
}
.pagination span.page-active {
  background-color: var(--color-main);
}

.pagination span:hover {
  background-color: var(--color-info-light);
}

.buttons {
  background-color: var(--color-success);
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.394);

  border-radius: var(--border-radius-1);
  padding: 0.6rem 1rem;
  color: var(--color-dark-variant);
}
.buttons:hover {
  border: 1.5px solid rgba(128, 128, 128, 1);
}

/* modals general settings */

.btn {
  width: 100%;
  padding: 0.7rem;
  border-radius: var(--border-radius-1);
  border: 1px solid rgba(128, 128, 128, 0.394);
display: block;
  cursor: pointer;
  color: black;
}
.btn.success {
  background-color: var(--color-success);
}

.form-btn {
  margin-top: 1rem;
}
.normal-btn {
  width: max-content;
}

.btn-mini{
  margin-top: 0 !important;
  width: max-content !important;
  font-size: 1rem !important;
}
.btn-mini:hover{
  border: 1px solid green;
}



.modal h2 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-main-gray);
  
  border-top-right-radius: var(--border-radius-1);
  border-top-left-radius: var(--border-radius-1);
}
.modal form {
  margin: 2rem;
}
.options {
  display: flex;
  flex-direction: column;
}
.options-appointments {
  display: flex;
  flex-direction: column;
}

.options > div {
  display: flex;

  padding: 0.5rem;
  cursor: pointer;
  z-index: 998;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #ddd;
  border: 4px solid #fff;
}

.options div label {
  border: 1px solid rgba(128, 128, 128, 0.394);
  border-radius: var(--border-radius-1);
  padding: 0.5rem;

  cursor: pointer;
}

.info-wrapper {
  max-width: 500px;
  border: 1px solid var(--color-border-color);
  border-radius: var(--border-radius-2);
  padding: 0.5rem;
}
.info-wrapper h2 {
  text-align: center;
  border-bottom: 1px solid var(--color-border-color);
}
.info-wrapper form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.save_button {
  background-color: var(--color-success);
}
.cancel_button {
  background-color: var(--color-danger);
}
header .head {
  display: none;
}

/* -----------------print section---------- */
.print {
  display: flex;
  justify-content: end;
  margin-top: 0.5rem;
}

.print-icon {
  background-color: #41f1b6;
  padding: 0.75rem;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.print-selection {
  width: 13rem;
  background-color: red;
  border-radius: var(--border-radius-2);
  display: none;
  font-size: 1.1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem var(--color-light);
  position: absolute;
  top: 215px;
  right: 10px;
  z-index: 999;
}

.print-selection:hover {
  display: block;
}

.print-selection label {
  background-color: #f6f6f9;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0.5rem;
  transition: 1 all ease-in-out;
}

.print-selection label:hover {
  transform: scale(1.05);
  background-color: #fff;
}

.print-selection label:first-child {
  border-top-right-radius: var(--border-radius-2);
  border-top-left-radius: var(--border-radius-2);
  background-color: var(--color-primary);
}

.print-icon:hover {
  background-color: green;
}
.print-icon:hover + .print-selection {
  display: block;
}

/* -----------------print section end -------------- */
/* ------------------------loader */

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}
.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}
@keyframes ball {
  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}

/* mobile ------------------------------------------------------------------------------------ */
@media (max-width: 768px) {
  .inner_modal{
    
    width: 80% !important;
  }
  .toast-container{
    position: fixed;
    top:80px;
    width: 90%;
    right: 0;
   
  }

  .horizontal-form{
    display: block;
  }
  header .head {
    display: block;
    width: 60%;
  }
  header .head img {
    width: 100%;
  }
  header div {
    display: none;
  }
  .sidebar img {
    display: none;
  }
  .menu-btn {
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #fff;
  }
  section#content {
    position: relative;

    width: calc(100% - 62px);
    left: 62px;
    height: 100%;
  }
  body {
    background-color: rgb(200, 228, 238);
  }
  section#container {
    gap: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.626);
  }
  main {
    padding: 0.7rem;
  }
  .main-header {
    text-align: center;
  }
  .sidebar .head .user-details {
    display: none;
  }
  .menu-btn {
    display: none;
  }
  .sidebar {
    width: 62px;
    padding: 0.5rem;
  }
  .sidebar .head {
    justify-content: center;
    margin-top: 0.5rem;
  }

  .sidebar .menu-btn i {
    transform: rotate(180deg);
  }
  .sidebar .user-details {
    display: none;
  }
  .sidebar .menu .title {
    text-align: center;
  }
  .sidebar .menu ul li .arrow {
    display: none;
  }
  .sidebar .menu > ul > li > a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar .menu > ul > li > a .text {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .sidebar .menu > ul > li > a .text::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
  }
  .sidebar .menu > ul > li > a:hover .text {
    left: 50px;
    opacity: 1;
    visibility: visible;
  }
  .sidebar .menu .sub-menu {
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  }
  .search {
    flex-wrap: nowrap;
  }
  .header {
    text-align: center;
  }
  .docs_area{
    flex-direction: column;
  }
}
