@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation:wght@500&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap");

/* ROOT VARİABLES */
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-border-color: #bcbec15d;

  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 1rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* appearance: none; */
  /* border: none; */
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
tbody tr {
  border-bottom: 1px solid var(--color-border-color);
}

html {
  font-size: 14px;
}
input {
  font-family: "Poppins", sans-serif;
}
.logo {
  width: 18%;
  height: 60px;
  display: flex;
}
.logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.loader-hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #fff; */
  z-index: 999;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s;
}
.loader {
  display: block;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 999;
  display: flex;

  justify-content: center;
  align-items: center;
  transition: opacity 0.75s;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ddd;
  border-top-color: blue;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
button {
  border: 1px solid rgba(128, 128, 128, 0.394);
  border-radius: var(--border-radius-1);
  padding: 0.5rem;
  color: var(--color-dark-variant);
  cursor: pointer;
}
.add {
  background-color: var(--color-success);
}

hr {
  margin: 1rem 0;
}

.information-modal {
  display: none;
  background-color: rgb(248, 107, 107);
  border: 1px solid red;
  color: white;
  text-align: center;
  position: absolute;
  padding: 2rem 8rem;
  right: 40%;
  top: 20%;
  z-index: 999;
  border-radius: var(--border-radius-1);
}

.inputs input,
textarea,
select {
  border: 1px solid rgba(128, 128, 128, 0.394);
  display: block;
  width: 100%;
  background-color: #f4f6f8;
  border-radius: var(--border-radius-1);
  padding: 0.5rem;
  color: var(--color-dark-variant);
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  background-color: #04d9d924;
  user-select: none;

  color: var(--color-dark);
}

section#content {
  position: relative;
  background-color: rgb(153, 148, 148);

  width: calc(100% - 256px);
  left: 256px;
  height: 100%;
}

footer {
  background-color: #737fec76;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  font-size: 1.8rem;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-light);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}
header {
  border-radius: var(--border-radius-2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 0 1rem;
  height: 56px;
  gap: 1rem;
}
header a {
  border: 1px solid gray;
  border-radius: var(--border-radius-2);
  background-color: var(--color-danger);
  padding: 0.5rem 1rem;
}
header > div {
  display: flex;
  flex-direction: column;

  border-right: 2px solid black;
  padding-right: 1rem;
}
header div div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-align: center;
}
header div div i {
  font-size: 1.2rem;
}

.top-right {
  display: flex;
  flex-direction: column;
}
.logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*----------------- SİDEBAR */

.sidebar {
  position: fixed;
  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 0rem 1.5rem 1.5rem 1.5rem;

  transition: all 0.3s;
  z-index: 999;
}
.sidebar .head {
  border-bottom: 1px solid #f6f6f6;
}
.sidebar img {
  width: 100%;
  padding: 1rem;
}

.left_section .user-img {
  height: 4rem;
}
.user-img span {
  font-size: 1.8rem;
  font-weight: 600;
}
.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;

  padding-left: 0.5rem;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
}
.nav {
  flex: 1;
}
.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}
.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: #f6f6f6;
}
.menu ul li .icon {
  font-size: 20px;
}
.menu ul li .text {
  flex: 1;
}
.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}
.menu ul li.active .arrow {
  transform: rotate(180deg);
}
.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;

  position: absolute;
  top: 0;
  left: 200px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}
.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}
.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
  display: none;
}
.menu-btn:hover i {
  color: #000;
}
.menu-btn i {
  transition: all 0.3s;
}
.sidebar.active {
  width: 92px;
}
.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .menu .title {
  text-align: center;
}
.sidebar.active .menu ul li .arrow {
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.credits {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

/* --------------- */

/* ------------------------MAİN-------------*/
main {
  display: flex;
  flex-direction: column;
  padding: 24px;

  background-color: white;
  border-radius: var(--card-border-radius);
  margin: 0.5rem;
}
.main-header {
  border-bottom: 1px solid var(--color-border-color);
  padding-bottom: 1rem;
}

main .date {
  display: inline-block;
  background-color: var(--color-light);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
  background-color: transparent;
  color: var(--color-dark);
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  margin-bottom: 3rem;
}

main .insights > div {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
}

main .insights > div:hover {
  box-shadow: none;
}

main .insights > div span {
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 2rem;
}

main .insights > div.income span {
  background-color: var(--color-danger);
}

main .insights > div.schedules span {
  background-color: var(--color-warning);
}

main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

main .insights h3 {
  font-size: 1rem;
  margin: 1.5rem 0 0;
}

main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .insights svg {
  width: 7rem;
  height: 7rem;
}

main .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
}

main .insights .sales svg circle {
  stroke: var(--color-success);
  stroke-dasharray: 200;
  stroke-dashoffset: 100;
}

main .insights .sales svg circle {
  stroke: var(--color-success);
  stroke-dasharray: 200;
  stroke-dashoffset: 100;
}

main .insights .progress .number {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------------------users ----------*/

table {
  border-collapse: collapse;
  width: 100%;

  transition: all 300ms ease;
}
table th {
  min-width: 30px;
}
td {
  padding: 0.5rem;
}
.table-wrapper {
  width: 100%;
  overflow: auto;
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: 1rem 0.5rem;
  border-radius: var(--border-radius-2);
  border: 1px solid var(--color-border-color);
}
main .user-table:hover {
  box-shadow: none;
}

tbody td {
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
  height: 3rem;
  text-align: center;
  position: relative;
}
table tbody tr:last-child td {
  border: none;
}
table tbody tr:hover {
  background-color: var(--color-light);
}
table thead {
  font-weight: 600;
  text-align: center;
}

.continue {
  background-color: var(--color-success);
  border-radius: var(--border-radius-2);
  padding: 0.5rem;
  min-width: 25%;
}
.finish {
  background-color: var(--color-danger);
  border-radius: var(--border-radius-2);
  padding: 0.5rem;
}

/* --------------------rigt seciton ----------------*/

.right .recent-updates h2 {
  margin-top: 1rem;
}
.right .recent-updates .updates {
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.right .recent-updates .updates:hover {
  box-shadow: none;
}
.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* -------------------analytics */
.analytics {
  margin-top: 2rem;
}
.analytics h2 {
  margin-bottom: 0.8rem;
}
.analytics .item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-white);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  padding: 1.4rem var(--card-padding);
  margin-bottom: 0.7rem;
  transition: all 300ms ease;
}
.analytics .item.item2 .icon span {
  background-color: var(--color-danger);
}
.analytics .item.item3 .icon span {
  background-color: var(--color-warning);
}
.analytics .item:hover {
  box-shadow: none;
}
.analytics .item .icon span {
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--color-success);
}
.analytics .item .right {
  display: flex;
  margin: 0;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  background-color: var(--color-success);

  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.394);

  border-radius: var(--border-radius-1);
  padding: 0.5rem 1rem;
  color: var(--color-dark-variant);
}

/* modals general settings */
.modal {
  border: 1px solid rgb(202, 201, 201);

  background-color: white;
  border-radius: var(--border-radius-1);
  padding: 2rem;
  width: 500px;
  max-width: 90%;

  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 999;
  display: none;
}

.modal.showed_modal {
  display: block;
}

.modal button {
  margin-top: 1rem;

  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--color-white);

  font-weight: 400;
  font-size: 1.2rem;
  background-color: var(--color-success);
  cursor: pointer;
}

.modal button.cancel_button {
  background-color: var(--color-danger);
}

.modal span {
  font-weight: 500;
  display: block;
  margin-top: 0.7rem;
}

.modal h2 {
  text-align: center;

  margin-bottom: 1rem;
}
.modal .options {
  display: flex;
  flex-direction: column;
}

.modal .options div {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}

.modal .options div label {
  border: 1px solid rgba(128, 128, 128, 0.394);
  border-radius: var(--border-radius-1);
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.info-wrapper {
  max-width: 500px;
  border: 1px solid var(--color-border-color);
  border-radius: var(--border-radius-2);
  padding: 0.5rem;
}
.info-wrapper h2 {
  text-align: center;
  border-bottom: 1px solid var(--color-border-color);
}
.info-wrapper form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.save_button {
  background-color: var(--color-success);
}
.cancel_button {
  background-color: var(--color-danger);
}
header .head {
  display: none;
}
/* mobile ------------------------------------------------------------------------------------ */
@media (max-width: 768px) {

  header .head {
    display: block;
    width: 60%;
  }
  header .head img{
    width: 100%;
  }
  header div {
    display: none;
  }
  .sidebar img {
    display: none;
  }
  .menu-btn {
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #fff;
  }
  section#content {
    position: relative;
    background-color: rgb(153, 148, 148);

    width: calc(100% - 62px);
    left: 62px;
    height: 100%;
  }
  body {
    background-color: rgb(200, 228, 238);
  }
  section#container {
    gap: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.626);
  }
  main {
    padding: 0.7rem;
  }
  .main-header {
    text-align: center;
  }
  .sidebar .head .user-details {
    display: none;
  }
  .menu-btn {
    display: none;
  }
  .sidebar {
    width: 62px;
    padding: 0.5rem;
  }
  .sidebar .head {
    justify-content: center;
    margin-top: 0.5rem;
  }

  .sidebar .menu-btn i {
    transform: rotate(180deg);
  }
  .sidebar .user-details {
    display: none;
  }
  .sidebar .menu .title {
    text-align: center;
  }
  .sidebar .menu ul li .arrow {
    display: none;
  }
  .sidebar .menu > ul > li > a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar .menu > ul > li > a .text {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .sidebar .menu > ul > li > a .text::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
  }
  .sidebar .menu > ul > li > a:hover .text {
    left: 50px;
    opacity: 1;
    visibility: visible;
  }
  .sidebar .menu .sub-menu {
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  }
  .search {
    flex-wrap: nowrap;
  }
}
