<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>reset Password</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="assets/css/templatemo-574-mexant.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
  

</head>

<body>


  <!-- ***** Header Area Start ***** -->
  <%- include('../partials/header-front.ejs') %>
    <!-- ***** Header Area End ***** -->

    <section>
      <div class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="header-text">
                <h2>Şifre Sıfırlama</h2>
                <div class="div-dec"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ***** Main Banner Area End ***** -->
    <div class="container-login">

      <div class="res-message" ><%= locals.message %></div>
      <form action="/resetPassword" method="POST" id="login-form">

        <div class="form-group">
          <span>Email:</span>
          <input type="email" name="email" id="email" required placeholder="Lütfen mail adresinisi giriniz">
        </div>
        
        <button type="submit" class="login-btn">Şifremi sıfırla</button>
        
      </form>
      



    </div>


    <%- include('../partials/front-footer.ejs') %>

      <!-- Scripts -->
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- <script src="assets/js/isotope.min.js"></script> -->
      <script src="assets/js/owl-carousel.js"></script>

      <!-- <script src="assets/js/tabs.js"></script>
      <script src="assets/js/swiper.js"></script>
      <script src="assets/js/custom.js"></script> -->
      
      
      <script type="module" src="js/forgotPassword.js"></script>
      <script type="module" src="js/request.js"></script>
      

</body>

</html>