<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>E-işletmem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 4 Landing Page Template" />
    <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
    <meta name="author" content="Shreethemes" />
    <meta name="email" content="shreethemes@gmail.com" />
    <meta name="website" content="http://www.shreethemes.in" />
    <meta name="Version" content="v2.5.1" />
    <!-- favicon -->
    <link rel="shortcut icon" href="front/images/favicon.ico">
    <!-- Bootstrap -->
    <link href="front/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="front/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <!-- Slider -->
    <link rel="stylesheet" href="front/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="front/css/owl.theme.default.min.css" />
    <!-- Main Css -->
    <link href="front/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <link href="front/css/colors/default.css" rel="stylesheet" id="color-opt">
</head>

<body>
    <!-- Loader -->
    <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
    <!-- Loader -->

    <%- include('../partials/front/header.ejs') %>

          <!-- Hero Start -->
          <section class="bg-half-170 pb-0 d-table w-100"  id="home">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7 order-2 order-md-1">
                        <div class="title-heading mt-4">
                            <div class="alert alert-light alert-pills shadow" role="alert">
                                
                                <span class="content"> Tamamen dijital bir İşletme hedefiyle</span>
                            </div>
                            <h1 class="heading mb-3"><span class="element text-primary" data-elements="Güzellik Salonu,Kuaför, Saç Ekim Merkezi, Diyetisyen, Tırnak Stüdyosu, SPA"></span><br> 
                                 İşletme Yönetim Yazılımı</h1>
                            <p class="para-desc text-muted">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap4 html page.</p>
                            <div class="mt-4">
                                <a href="/login" class="btn btn-outline-primary rounded">Hemen Başla<i class="mdi mdi-arrow-right-bold-circle" ></i></a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="position-relative">
                            <img src="\front\images\busi.png" class="rounded img-fluid mx-auto d-block" alt="">
                          
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container--> 
        </section><!--end section-->
        <!-- Hero End -->

       

        <!-- Feature Start -->
        <section class="section">
            <div class="container p-4">
                <div class="row text-center">
                    <div class="col-md-4 col-12">
                        <div class="features">
                            <div class="image position-relative d-inline-block">
                                <img src="front/images/icon/user.svg" class="avatar avatar-small" alt="">
                            </div>

                            <div class="content mt-4">
                                <h4 class="title-2">Kolay Kullanım</h4>
                                <p class="text-muted mb-0">Bütün özelliklerimiz personellerinizin rahatça uyum
                                    sağlayabileceği bir yapıda geliştirilmiştir.</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-4 col-12 mt-5 mt-sm-0">
                        <div class="features">
                            <div class="image position-relative d-inline-block">
                                <img src="front/images/icon/safety.svg" class="avatar avatar-small" alt="">
                            </div>

                            <div class="content mt-4">
                                <h4 class="title-2">Veri Güvenliği</h4>
                                <p class="text-muted mb-0">Bütün verileriniz Cloud Teknolojisi ile depolanır, asla
                                    kaybolmaz,silinmez.</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-4 col-12 mt-5 mt-sm-0">
                        <div class="features">
                            <div class="image position-relative d-inline-block">
                                <img src="front/images/icon/sand-clock.svg" class="avatar avatar-small" alt="">
                            </div>

                            <div class="content mt-4">
                                <h4 class="title-2">Her Yerden Erişim</h4>
                                <p class="text-muted mb-0">Bilgisayar, Tablet veya telefon! Evden İşten veya Tatilden
                                    istediğiniz yerden işletmenizi yönetin.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container  mt-100 p-4 ">
                
                <div class="row align-items-center shadow p-3"
                    style="border: 1px solid rgba(128, 128, 128, 0.1); border-radius: 1rem;">
                    <div class="col-lg-6 col-md-6">
                        <img src="front/images/saas/1.png" class="img-fluid shadow rounded" alt="">
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title ml-lg-5">
                            <h4 class="title mb-4">Randevu Yönetimi</h4>
                            <p class="text-muted"> İşletmenizİ Başka Bir Seviyeye Taşıyın</p>
                            <ul class="list-unstyled text-muted">
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Personelin Çalışma Saatlerine Göre
                                    Randevu Alın</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Randevu çakışmalarının Önüne Geçin
                                </li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>İptal edilen randevuları izleyerek
                                    müşteri kaçırmayın</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Randevular için hatırlatma sms'i
                                    gönderin</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Yapılacak işlemleri
                                    seçerek,karışıklığı bitirin.</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Takvim sayesinde müşterilerinizi
                                    bekletmeden randevu verin.</li>
                            </ul>
                            <a href="our-services/randevu-yonetimi" class="mb-3 h6 text-primary">Diğer Özellikleri Gör<i
                                    class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-60 p-4">
                <div class="row align-items-center shadow p-3"
                    style="border: 1px solid rgba(128, 128, 128, 0.1); border-radius: 1rem;">
                    <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title mr-lg-5">
                            <h4 class="title  text-center text-lg-start">Sms Yönetimi</h4>
                            <p class="text-muted text-center text-md-end">Müşterileriniz ile İletişiminiz Kesilmesin ! </p>
                            <ul class="list-unstyled text-muted">
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Müşteriye Özel isimli Sms Gönderin
                                </li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Müşteriye Özel Otomatik Doğum günü
                                    Mesajı Gönderin.</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Müşteriye Özel Tahsilat Mesajı
                                    Gönderin.</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Belirli Bir(Kadın-erkek,randevu
                                    iptal eden vs.) Gruba Toplu Mesajı Gönderin.</li>
                            </ul>
                            <a href="/our-services/sms-yonetimi" class="mb-3 h6 text-primary">Diğer Özellikleri Gör<i
                                    class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-6 order-1 order-md-2">
                        <img src="front/images/illustrator/app_development_SVG.svg" alt="">
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <div class="container mt-100 mt-60">
                <div class="row align-items-center" background-color: rgba(0, 0, 255, 0.02);>
                    <div class="col-lg-6 col-md-6">
                        <img src="front/images/saas/1.png" class="img-fluid shadow rounded" alt="">
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title ml-lg-5">
                            <h4 class="title text-center">Gelir-Gider Yönetimi</h4>
                            <p class="text-muted text-center"> İşletmenizin Kasası güvenli ellerde!</p>
                            <ul class="list-unstyled text-muted">
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Günlük gelir-gider takibini yapın.
                                </li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Hizmet satışı ve Ürün Satışı</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>Seans Başı ya da bütün işlem için
                                    ödeme alın</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>İşlem için ayrı ödemeler alın</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i
                                            class="uim uim-check-circle"></i></span>İSatışta kredi kartı/nakit seçimi
                                </li>
                            </ul>
                            <a href="our-services/gelir-gider-yonetimi" class="mb-3 h6 text-primary">Diğer Özellikleri
                                Gör<i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <div class="container mt-100 mb-5" >
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title pb-2">    
                            <h4 class="title">Bütün Özellikler
                            </h4>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row justify-content-center p-3" style="background-color: rgba(0, 0, 255, 0.02);">
                  <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
                    <div class="features text-center bordered-card">
                      <div class="image position-relative d-inline-block" style="font-size: 4rem;">
                        <i class="uil uil-calendar-alt" style="color: cadetblue;"></i>
                      </div>
        
                      <div class="content mt-4">
                        <h4 class="title-2">Randevu Yönetimi</h4>
                      </div>
                      
                      <a href="/our-services/randevu-yonetimi" class="btn btn-outline-primary"><i class="mdi mdi-file-document-outline"></i>Detaylar </a>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
                    <div class="features text-center bordered-card">
                      <div class="image position-relative d-inline-block" style="font-size: 4rem;">
                        <i class="uil uil-users-alt" style="color: cadetblue;"></i>
        
                      </div>
        
                      <div class="content mt-4">
                        <h4 class="title-2">Hasta Yönetimi</h4>
                      </div>
                       <a href="/our-services/hasta-yonetimi" class="btn btn-outline-primary"><i class="mdi mdi-file-document-outline"></i>Detaylar </a>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
                    <div class="features text-center bordered-card">
                      <div class="image position-relative d-inline-block" style="font-size: 4rem;">
                        <i class="uil uil-user-md" style="color: cadetblue;"></i>
        
                      </div>
        
                      <div class="content mt-4">
                        <h4 class="title-2">Personel Yönetimi</h4>
                      </div>
                       <a href="/our-services/personel-yonetimi" class="btn btn-outline-primary"><i class="mdi mdi-file-document-outline"></i>Detaylar </a>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
                    <div class="features text-center bordered-card">
                      <div class="image position-relative d-inline-block" style="font-size: 4rem;">
                        <i class="uil uil-usd-circle" style="color: cadetblue;"></i>
        
                      </div>
        
                      <div class="content mt-4">
                        <h4 class="title-2">Gelir/Gider Yönetimi</h4>
                      </div>
                       <a href="/our-services/gelir-gider-yonetimi" class="btn btn-outline-primary"><i class="mdi mdi-file-document-outline"></i>Detaylar </a>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
                    <div class="features text-center bordered-card">
                      <div class="image position-relative d-inline-block" style="font-size: 4rem;">
                        <i class="uil uil-message" style="color: cadetblue;"></i>
        
                      </div>
        
                      <div class="content mt-4">
                        <h4 class="title-2">Sms Yönetimi</h4>
                      </div>
                       <a href="/our-services/sms-yonetimi" class="btn btn-outline-primary"><i class="mdi mdi-file-document-outline"></i>Detaylar </a>
                    </div>
                  </div><!--end col-->
                  <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
                    <div class="features text-center bordered-card">
                      <div class="image position-relative d-inline-block" style="font-size: 4rem;">
                        <i class="uil uil-medkit" style="color: cadetblue;"></i>
        
                      </div>
        
                      <div class="content mt-4">
                        <h4 class="title-2">Ürün-Hizmet Yönetimi</h4>
                      </div>
                       <a href="/our-services/urun-hizmet-yonetimi" class="btn btn-outline-primary"><i class="mdi mdi-file-document-outline"></i>Detaylar </a>
                    </div>
                  </div><!--end col-->
                  
                  <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
                    <div class="features text-center bordered-card">
                      <div class="image position-relative d-inline-block" style="font-size: 4rem;">
                        <i class="uil uil-file-graph" style="color: cadetblue;"></i>
        
                      </div>
        
                      <div class="content mt-4">
                        <h4 class="title-2">Raporlamalar</h4>
                      </div>
                       <a href="/our-services/rapor-yonetimi" class="btn btn-outline-primary"><i class="mdi mdi-file-document-outline"></i>Detaylar </a>
                    </div>
                  </div><!--end col-->
        
        
                </div><!--end row-->
        
        
              </div>

            <div class="container mt-100 mt-60">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="section-title pb-2">
                                <h4 class="title">Sizin Gözünüzden <br> <span class="text-primary">E-işletmem</span>
                                </h4>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->

                    <div class="row justify-content-center  bordered rounded shadow p-4"  style="background-color: rgba(0, 0, 255, 0.02);">
                        <div class="col-lg-12">
                            <div id="customer-testi" class="owl-carousel owl-theme">
                                <div class="media customer-testi m-2">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                        </ul>
                                        <p class="text-muted mt-2">"E-İşletmem sayesinde randevularımı kolayca
                                            yönetiyorum.
                                            Sınırsız randevu ekleyebilmek ve her randevuya özel notlar eklemek gerçekten
                                            işimi kolaylaştırıyor. Özellikle otomatik SMS gönderme özelliği çok pratik."
                                        </p>
                                        <h6 class="text-primary">- Ayşe Yılmaz <small class="text-muted">Klinik
                                                Müdürü</small></h6>
                                    </div>
                                </div>

                                <div class="media customer-testi m-2">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star-half text-warning"></i>
                                            </li>
                                        </ul>
                                        <p class="text-muted mt-2">"Sistemi kullanmaya başladık ve gerçekten müşteri
                                            takibi
                                            çok kolaylaştı. Her müşteriye özel notlar, hastalık bilgileri ve borç takibi
                                            gibi özelliklerle işleri büyük ölçüde düzenli hale getirdik."</p>
                                        <h6 class="text-primary">- Mehmet Demir <small class="text-muted">Güzellik
                                                Salonu
                                                Sahibi</small></h6>
                                    </div>
                                </div>

                                <div class="media customer-testi m-2">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                        </ul>
                                        <p class="text-muted mt-2">"Randevuları organize etmek artık çok kolay. Personel
                                            bazlı raporlar ve tahsilat raporları sayesinde iş süreçlerimiz çok daha
                                            şeffaf
                                            ve düzenli. Özellikle SMS raporlama özelliğini çok beğeniyorum."</p>
                                        <h6 class="text-primary">- Ali Kılıç <small class="text-muted">Güzellik Merkezi
                                                Sahibi</small></h6>
                                    </div>
                                </div>

                                <div class="media customer-testi m-2">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                        </ul>
                                        <p class="text-muted mt-2">"İşlem bazlı raporlar ve ödeme alma özellikleri çok
                                            kullanışlı. Hem müşteriler hem de personel için ödeme yöntemlerini çok rahat
                                            seçebiliyoruz. Ayrıca her işlem için açıklama ekleyebilme özelliği çok
                                            pratik."
                                        </p>
                                        <h6 class="text-primary">- Büşra Yıldız <small class="text-muted">Kozmetik
                                                Uzmanı</small></h6>
                                    </div>
                                </div>

                                <div class="media customer-testi m-2">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                        </ul>
                                        <p class="text-muted mt-2">"Sistem sayesinde personel yönetimim çok kolaylaştı.
                                            Personel çalışma saatlerini belirlemek, özel prim yüzdesi tanımlamak gibi
                                            işlemleri hızlıca yapabiliyorum."</p>
                                        <h6 class="text-primary">- Ahmet Can <small class="text-muted">SPA
                                                Müdürü</small>
                                        </h6>
                                    </div>
                                </div>

                                <div class="media customer-testi m-2">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <ul class="list-unstyled mb-0">
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                        </ul>
                                        <p class="text-muted mt-2">"Müşteri takibi ve ödeme düzenlemeleri çok kolay
                                            oldu.
                                            Ayrıca raporlama özellikleri sayesinde her ay sonu detaylı raporları
                                            alabiliyoruz."</p>
                                        <h6 class="text-primary">- Zeynep Arslan <small class="text-muted">Sağlık
                                                Merkezi
                                                Yöneticisi</small></h6>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="col" >
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="section-title pb-2">
                                <h4 class="title">Referanslarımız </h4>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="row justify-content-center shadow border rounded p-4" style="background-color: rgba(0, 0, 255, 0.02);">
                        <div class="col-lg-12 mt-4">
                            <div id="customer-test2" class="owl-carousel owl-theme">
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="front/images/testimonials/1.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="\front\images\testimonials\medilas.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="front/images/testimonials/2.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="\front\images\testimonials\pera-guzellik.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="front/images/testimonials/3.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="front/images/testimonials/4.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="front/images/testimonials/5.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="front/images/testimonials/6.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="front\images\testimonials\belkis.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="front\images\testimonials\dermvital.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="\front\images\testimonials\dunyamed.png" alt="" style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="\front\images\testimonials\estetika-karaman.png" alt=""
                                        style="width: 100%;">
                                </div>
                                <div class="item shadow p-1"
                                    style="width: 100%; border: 1px solid rgba(128, 128, 128, 0.1);">
                                    <img src="\front\images\testimonials\evo-lazer.png" alt="" style="width: 100%;">
                                </div>

                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>



            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="section-title pb-2">
                                <h4 class="title">Bazı İstatistiklerimiz </h4>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="row justify-content-center shadow border rounded p-4"  style="background-color: rgba(0, 0, 255, 0.02);" id="counter">
                        <div class="col-6 col-lg-3 mb-3">
                            <div class="card counter-box border-0 bg-success shadow text-center rounded">
                                <div class="card-body py-1 py-lg-5">
                                    <h2 class="mb-0 text-light">+<span class="counter-value" data-count="35">0</span>%</h2>
                                    <h5 class="counter-head mb-0 text-light">Ekstra Hizmet Satışı</h5>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-6 col-lg-3 mb-3">
                            <div class="card counter-box border-0 bg-danger shadow text-center rounded">
                                <div class="card-body py-1 py-lg-5">
                                    <h2 class="mb-0 text-light">+<span class="counter-value" data-count="35">0</span>%</h2>
                                    <h5 class="counter-head mb-0 text-light">Ekstra Ürün Satışı</h5>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-6 col-lg-3 mb-3">
                            <div class="card counter-box border-0 bg-danger shadow text-center rounded">
                                <div class="card-body py-1 py-lg-5">
                                    <h2 class="mb-0 text-light"><span class="counter-value" data-count="65">0</span>+%</h2>
                                    <h5 class="counter-head mb-0 text-light">Personel Mutluluğu</h5>
                                </div>
                            </div>
                        </div><!--end col-->
    
                        <div class="col-6 col-lg-3 mb-3 ">
                            <div class="card counter-box border-0 bg-primary shadow text-center rounded">
                                <div class="card-body py-1 py-lg-5">
                                    <h2 class="text-light title-dark mb-0"><span class="counter-value"
                                            data-count="100">1</span>%</h2>
                                    <h5 class="counter-head mb-0 title-dark text-light">Randevu Takibi</h5>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-6 col-lg-3 mb-3">
                            <div class="card counter-box border-0 bg-success shadow text-center rounded">
                                <div class="card-body py-1 py-lg-5">
                                    <h2 class="text-light title-dark mb-0"><span class="counter-value"
                                            data-count="98">0</span>%</h2>
                                    <h5 class="counter-head mb-0 title-dark text-light">Kasa Doğruluğu</h5>
                                </div>
                            </div>
                        </div><!--end col-->
    
                        <div class="col-6 col-lg-3 mb-3">
                            <div class="card counter-box border-0 bg-warning shadow text-center rounded"
                                style="background-color:#f17425 ;">
                                <div class="card-body py-1 py-lg-5">
                                    <h2 class="mb-0 text-light">+<span class="counter-value" data-count="15">3</span>%</h2>
                                    <h5 class="counter-head mb-0 text-light">Ekstra Randevu</h5>
                                </div>
                            </div>
                        </div><!--end col-->
    
                    </div><!--end row-->
                </div>
                
            </div><!--end container-->


        </section><!--end sectipn-->
        <div class="position-relative">
            <div class="shape overflow-hidden text-footer">
                <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- Client End -->

        <%- include('../partials/front/footer.ejs') %>

            <!-- javascript -->
            <script src="front/js/jquery-3.5.1.min.js"></script>
            <script src="front/js/bootstrap.bundle.min.js"></script>
            <script src="front/js/jquery.easing.min.js"></script>
            <script src="front/js/scrollspy.min.js"></script>
            <!-- SLIDER -->
            <script src="front/js/owl.carousel.min.js "></script>
            <script src="front/js/owl.init.js "></script>
            <!-- Icons -->
            <script src="front/js/feather.min.js"></script>
            <script src="https://unicons.iconscout.com/release/v2.1.9/script/monochrome/bundle.js"></script>
            <!-- Main Js -->
            <script src="front/js/app.js"></script>

            <script src="/front/js/counter.init.js"></script>
            <script src="/front/js/typed.js"></script>
            <script src="/front/js/typed.init.js"></script>
            <!-- Parallax -->
            <script src="/front/js/parallax.js "></script>

</body>

</html>