<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>kvkk aydınlatma metni </title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-574-mexant.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

  <style>
    ol {
      padding-left: 1rem;
    }
  </style>
</head>

<body>


  <!-- ***** Header Area Start ***** -->
  <%- include('../partials/header-front.ejs') %>
    <!-- ***** Header Area End ***** -->

    <section>
      <div class="page-heading">

        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="header-text" style="text-align: left;">
                <h2>KVKK Aydınlatma Metni</h2>
                <div class="div-dec"></div>

                <div class="entry-content">
                  <p>E-işletme.com</em>bünyesindeki
                    kişisel verilerin, 6698 sayılı Kişisel Verilerin Korunması Kanunu&nbsp;<em>(Kısaca KVKK olarak
                      anılacaktır.)</em>&nbsp;uyarınca güvenli şekilde saklanması, hukuka uygun olarak işlenmesi için
                    gerekli teknik ve hukuki önlemler tarafımızca alınmaktadır. Kanun uyarınca kişisel verilerinizin
                    toplanması, işlenmesi ve aktarılması hakkında bilgilendirmek amacıyla işbu KVKK Aydınlatma Metni
                    düzenlenmiştir.</p>
                  <p>Kişisel veri, kimliği belirli veya belirlenebilir gerçek kişiye ilişkin her türlü bilgiyi; kişisel
                    verilerin işlenmesi, kişisel verilerin tamamen veya kısmen otomatik olan ya da herhangi bir veri
                    kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilmesi, kaydedilmesi,
                    depolanması, muhafaza edilmesi, değiştirilmesi, yeniden düzenlenmesi, açıklanması, aktarılması,
                    devralınması, elde edilebilir hâle getirilmesi, sınıflandırılması ya da kullanılmasının engellenmesi
                    gibi veriler üzerinde gerçekleştirilen her türlü işlemi; veri sorumlusu, kişisel verilerin işleme
                    amaçlarını ve vasıtalarını belirleyen, veri kayıt sisteminin kurulmasından ve yönetilmesinden
                    sorumlu olan gerçek veya tüzel kişiyi; veri işleyen ise veri sorumlusunun verdiği yetkiye dayanarak
                    onun adına kişisel verileri işleyen gerçek veya tüzel kişiyi ifade eder.</p>
                    <br>
                  <p><strong><u>Kişisel Verilerin Toplanması, İşlenmesi ve İşleme Amaçları:</u></strong></p>
                  <p>Kişisel verileriniz, 6698 sayılı KVKK’nın 4, 5 ve 6.maddelerine uygun olarak E-işletme
                    tarafından sağlanan hizmet ve ticari faaliyetlere bağlı olarak değişkenlik gösterebilmekte ve
                    otomatik ya da otomatik olmayan yöntemlerle, imza, onay veya icazetle tanzim edilen işlemlere
                    ilişkin tüm sair belgelerle, E-işletme birimleri, internet sitesi ve benzeri her türlü
                    elektronik uygulamalar ile sözlü, yazılı ya da elektronik olarak yasal düzenlemelerin gerektirdiği
                    veya zorunlu kıldığı şekilde hukuki yükümlülüklerimizin yerine getirilmesini sağlamak, ticari
                    faaliyetlerin mevzuata ve şirket politikalarına uygun olarak yerine getirilmesi için gerekli
                    çalışmaların yapılması ve bu doğrultuda faaliyetlerin yürütülmesi, kısa, orta, uzun vadeli ticari
                    politikalarının tespiti, planlanması ve uygulanması, E-işletme tarafından sunulan hizmet
                    ürün ve projelerin ilgilisinin kişisel tercihlerine göre kişiselleştirilmesi, sunulan ürün, hizmet
                    ve projeler hakkında bilgi verilmesi, etkin bir müşteri hizmetinin sunulabilmesi, her türlü reklam
                    faaliyetlerinin yürütülebilmesi, ziyaretçi profillerinin belirlenebilmesi, istek, talep ve
                    şikayetlerin çözümlenmesinin sağlanması, istatistiksel çalışmalar yapılabilmesi, iş ortakları ile
                    irtibat sağlanması, teknolojik alt yapışların oluşturulması ve yönetilmesi, finans işlemlerinin
                    takibi, hukuk işlerinin takibi, verilerin doğru ve güncel olmasının sağlanması ve kanunun izin
                    verdiği her türlü iş ve işlem için toplanabilecektir.</p>
                    <br>
                  <p><strong><u>Kişisel Verilerin Aktarılması ve Aktarılma Amaçları:</u></strong></p>
                  <p>Kişisel verileriniz, 6698 sayılı KVKK’nın 8 ve 9.maddelerine uygun olarak E-işletme ile
                    ilişki içerisinde olan kişilerin hukuki, teknik ve ticari güvenliğinin temini ve yukarıda belirtilen
                    işleme amaçları doğrultusunda üçüncü kişi ve kurumlara aktarabilecektir. Bu kişi ve kurumlar
                    E-işletme’nin iş ortakları, şirket yetkilileri, danışmanları, denetçileri, hukuken bilgi
                    almaya yetkili kamu kurum ve kuruluşları ve hukuken yetkili özel hukuk tüzel kişileridir. Kişisel
                    verileriniz kanunun 8 ve 9.maddelerinde belirtilen kişisel veri aktarım şartları ve amaçları
                    çerçevesinde yurt içindeki üçüncü kişilere aktarabileceği gibi yurt dışına da aktarabilecektir.</p>
                    <br>
                  <p><strong><u>Kişisel Verilerin Toplanma Yöntemi ve Hukuki Sebebi:</u></strong></p>
                  <p>Kişisel verileriniz, her türlü sözlü, yazılı ya da elektronik ortamda, yukarıda belirtilen amaçlar
                    doğrultusunda hizmetlerimizin sunulabilmesi ve bu kapsamda E-işletme‘nin yükümlülüklerini
                    eksiksiz ve hukuka uygun bir şekilde yerine getirebilmesi ve her halükârda şirket politikası ve
                    ticari hayatın teamülleri uyarınca işlenmesini gerektiren süre ile sınırlı olarak işlenmekte ve
                    sürelerin dolması ile silinmekte, yok edilmekte veya anonim hale getirilmektedir. Toplanan kişisel
                    verileriniz, KVKK’nın 4.maddesinde düzenlenen temel ilkelere uygun olarak, KVKK’nın 5 ve 6.
                    maddelerinde belirtilen kişisel veri işleme şartları ve amaçları kapsamında bu metinde belirtilen
                    amaçlarla da işlenebilmekte ve aktarılabilmektedir. Bunların yanında kanunlarda açıkça öngörülen
                    hallerde, veri sorumlusu sıfatıyla E-işletme’nin yasal yükümlülüklerini yerine
                    getirebilmesi için zorunlu olan, ilgili kişinin kendisi tarafından alenileştirilen, ilgili kişinin
                    temel hak ve özgürlüklerine zarar vermemek kaydıyla veri sorumlusu sıfatını haiz şirketimizin yasal
                    menfaatleri için işlenmesi zorunlu olan verileriniz, belirtilen sürelerin geçmesi durumunda ancak bu
                    cümlede tahdidi olarak belirtilmiş amaçların gerçekleştirilmesi için kullanılabilecektir. Bu
                    nedenlerle saklanan kişisel verilerinize başka bir amaç ile erişilmesine izin verilmeyecek ve ancak
                    zorunlu hallerde kullanılabilecektir. Zorunluluk halinin sona ermesiyle birlikte kişisel verileriniz
                    usulüne uygun olarak silinecek, yok edilecek veya anonim hale getirilecektir.</p>
                    <br>
                  <p><strong><u>Kişisel Verilerin Toplanmasında Rıza Aranmayan Haller:</u></strong></p>
                  <p>KVKK’nın 5.maddesi uyarınca aşağıdaki hallerde kişisel verilerinizin açıkça rıza bulunmayan
                    hallerde de saklanması mümkündür:</p>
                  <ul>
                    <li>Kanunlarda açıkça öngörülmesi.</li>
                    <li>Fiili imkânsızlık nedeniyle rızasını açıklayamayacak durumda bulunan veya rızasına hukuki
                      geçerlilik tanınmayan kişinin kendisinin ya da bir başkasının hayatı veya beden bütünlüğünün
                      korunması için zorunlu olması.</li>
                    <li>Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin
                      taraflarına ait kişisel verilerin işlenmesinin gerekli olması.</li>
                    <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması.</li>
                    <li>İlgili kişinin kendisi tarafından alenileştirilmiş olması.</li>
                    <li>Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması.</li>
                    <li>İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru
                      menfaatleri için veri işlenmesinin zorunlu olması.</li>
                  </ul>
                  <br>
                  <p><strong><u>Kişisel Veri Sahibinin Hakları:</u></strong></p>
                  <p>KVKK’da belirtilen yöntemlerle taleplerinizi E-işletme’nin Bilişim Vadisi, Muallimköy Mh.
                    Deniz Cd. No:143/5/40&nbsp; Gebze / KOCAELI adresine yazılı olarak iletmeniz durumunda, talebinizi
                    niteliğine göre en kısa sürede ve en geç 30 gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak,
                    Kişisel Verileri Koruma Kurulunca bir ücret öngörülmesi halinde, belirlenen tarifedeki ücret
                    alınabilir. Başvurularda başvurucunun adı-soyadı, Türkiye Cumhuriyeti vatandaşları için TC kimlik
                    numarası, yabancılar için uyruğu, ve pasaport numarası, tebligata elverişli yerleşim yeri adresi,
                    varsa elektronik posta adresi ve telefon numarası ile talep konusu bulunması zorunludur. Talep
                    konusunun açık ve anlaşılır olması, başvurucyla ilgilisi olması, başkası adına hareket edilmekte ise
                    usulüne uygun olarak yetkilendirilmiş olması zorunludur. Aksi halde başvuru yapılmamış sayılır.
                    KVKK’nın 11.maddesine göre kişisel verisi işlenen gerçek kişinin sahip olduğu haklar aşağıda
                    belirtilmiştir.</p>
                  <ul>
                    <li>Kişisel veri işlenip işlenmediğini öğrenme</li>
                    <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme</li>
                    <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme
                    </li>
                    <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme</li>
                    <li>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme</li>
                    <li>KVKK’nın 7.maddesinde öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok
                      edilmesini isteme</li>
                    <li>Yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme</li>
                    <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin
                      kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme</li>
                    <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın
                      giderilmesini talep etme</li>
                  </ul>
                  <br>
                  <p><strong><u>Aydınlatma Metnindeki Değişiklikler:</u></strong></p>
                  <p>İşbu Aydınlatma Metni, Kişisel Verilerin Korunması Kanunu kapsamında veri sorumlusu sıfatıyla
                    E-işletme tarafından düzenlenmiş olup, kanunun izin verdiği şartlarda her zaman <a
                      href="http://e-isletmem.com">E-işletmem</a> Teknoloji tarafından değiştirilebilir. </p>
                </div>

                <div class="div-dec"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ***** Main Banner Area End ***** -->

    <section class="top-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">

          </div>
          <div class="col-lg-6 align-self-center">


          </div>
        </div>
      </div>
    </section>

    <section class="simple-cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h4>Bütün <em>Özelliklerimizi keşfetmek</em> için:</h4>
          </div>
          <div class="col-lg-7">
            <div class="buttons">
              <div class="green-button">
                <a href="#">Daha Fazlasını Keşfet</a>
              </div>
              <div class="orange-button">
                <a href="#">İletişime Geç</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="partners">

      <div class="container">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h4>BERABER ÇALIŞTIĞIMIZ BAZI MARKALAR:</h4>
          </div>
        </div>
        <div class="row">
          <hr>


          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/partners.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/cosmopark.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/nirvana.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/Platin-peruk.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/san-kaufor.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/gloria-beauty.png" alt="">
            </div>
          </div>

        </div>
      </div>
    </section>

    <%- include('../partials/front-footer.ejs') %>

      <!-- Scripts -->
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <script src="assets/js/isotope.min.js"></script>
      <script src="assets/js/owl-carousel.js"></script>

      <script src="assets/js/tabs.js"></script>
      <script src="assets/js/swiper.js"></script>
      <script src="assets/js/custom.js"></script>
      <script>
        var interleaveOffset = 0.5;

        var swiperOptions = {
          loop: true,
          speed: 1000,
          grabCursor: true,
          watchSlidesProgress: true,
          mousewheelControl: true,
          keyboardControl: true,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
          },
          on: {
            progress: function () {
              var swiper = this;
              for (var i = 0; i < swiper.slides.length; i++) {
                var slideProgress = swiper.slides[i].progress;
                var innerOffset = swiper.width * interleaveOffset;
                var innerTranslate = slideProgress * innerOffset;
                swiper.slides[i].querySelector(".slide-inner").style.transform =
                  "translate3d(" + innerTranslate + "px, 0, 0)";
              }
            },
            touchStart: function () {
              var swiper = this;
              for (var i = 0; i < swiper.slides.length; i++) {
                swiper.slides[i].style.transition = "";
              }
            },
            setTransition: function (speed) {
              var swiper = this;
              for (var i = 0; i < swiper.slides.length; i++) {
                swiper.slides[i].style.transition = speed + "ms";
                swiper.slides[i].querySelector(".slide-inner").style.transition =
                  speed + "ms";
              }
            }
          }
        };

        var swiper = new Swiper(".swiper-container", swiperOptions);
      </script>

</body>

</html>