<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>Gizlilik Şartları</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-574-mexant.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

  <style>
    ol {
      padding-left: 1rem;
    }

    .entry-content {
      text-align: left;
    }
    p{
      text-indent: 30px;
    }
  </style>



</head>

<body>


  <!-- ***** Header Area Start ***** -->
  <%- include('../partials/header-front.ejs') %>
    <!-- ***** Header Area End ***** -->

    <section>
      <div class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="header-text">
                <h2 style="text-align: center;">Gizlilik şartları</h2>
              </div>
              <div class="div-dec"></div>
              <div class="entry-content">
                <br>
                <h3 class="wp-block-heading"><strong>SORUMLULUK VE HAKLAR</strong></h3>
                
                <p>Bu sitedeki her türlü ses, görüntü, yazı içeren bilgi ve belge, ticari marka ve her tür fikri
                  mülkiyet, "Nalin Aktürk" ya da bağlı şirketlerine aittir veya sahiplerinin izni ile kullanılmaktadır
                  ve telif hakları kapsamındadır. Kişisel kullanım amaçlı çoğaltmaya izin verilir. İzinsiz değişiklik
                  yapmak, kopyalamak, kiralamak, ödünç vermek, iletmek ve yayınlamak yasaktır. Bu siteden alınan her
                  türlü ses, görüntü, yazı içeren bilgi ve belge satılamaz ya da herhangi bir kâr amacıyla dağıtılamaz.
                </p>
                <p>E-işletmem.com sitesindeki bağlantılar sizi E-işletmem.com ağının dışına götürebilir ve
                  E-işletmem.com, bu
                  sitelerin içeriği, doğruluğu ya da işleviyle ilgili olarak, hiç bir sorumluluk üstlenmez. Bu
                  bağlantılar iyi niyet çerçevesinde sunulmakta olup E-işletmem.com, bağlantısını verdiğimiz sitelerde
                  daha sonra olabilecek herhangi bir değişiklikten sorumlu değildir. "Nalin Aktürk" veya bağlı
                  şirketleri ya da bu sitenin oluşturulması, üretilmesi ya da iletilmesinde yer alan diğer herhangi bir
                  üçüncü taraf bu siteye erişim ya da sitenin kullanımından doğabilecek herhangi bir doğrudan, dolaylı,
                  arızi, tali ya da cezai zarar, ziyan, hasar veya sorumluluktan ötürü sorumlu tutulamaz.</p>
                <p>Bu sitedeki her şey olduğu gibi sunulmaktadır. "Nalin Aktürk" ya da bağlı şirketlerinden herhangi
                  biri, bu sitede yer alan herhangi bir ses, görüntü, yazı içeren bilgi ve belgenin belirli bir amaca
                  uygunluğunu garanti etmez. Ayrıca, bu siteye erişiminiz, kullanmanız ya da bu siteden herhangi bir
                  ses, görüntü, yazı içeren bilgi ve belge indirmeniz nedeniyle bilgisayar donanımınızda veya diğer
                  varlıklarınızda olabilecek herhangi bir hasar ya da bulaşabilecek bir virüsten E-işletmem.com sorumlu
                  tutulamaz. Bazı ülkelerde belirli garanti ve tazminatların sınırlanmasına izin verilmemektedir, bu
                  nedenle yukarıdaki hükümlerin hepsi sizin için geçerli olmayabilir.</p>
                <p>İnternet aracılığıyla E-işletmem.com’a ilettiğiniz her tür bilginin (her tür yorum, öneri, fikir,
                  grafik, vb dahil), bunlar için size ya da başka herhangi bir kişiye herhangi bir ödeme yapılmaksızın,
                  sınırsız kullanım hakkı yalnızca E-işletmem.com’un mülkiyetine geçecek ve "Nalin Aktürk" mülkiyetinde
                  kalacaktır. Ayrıca, bu tür bilgiler, tarafımızca gizli tutulmak zorunda değildir.</p>
                <p>18 yaşından küçüklerin, E-işletmem.com Web Sitesine, velileri ya da vasilerinden izin almaksızın
                  bilgi
                  sunmalarından E-işletmem.com sorumlu tutulamaz. E-işletmem.com 18 yaşından küçüklerin sunduğu
                  bilgileri
                  kullanma hakkını elinde tutar.</p>
                  <br>
                <h3 class="wp-block-heading"><strong>GİZLİLİK İLKELERİ VE KULLANIM KOŞULLARI</strong></h3>
                
                <p>E-işletmem.com sizlerin kişisel gizliliğini korumaya özen göstermektedir. Bu gizlilik politikası
                  E-işletmem.com tarafından bu web sitesinde toplanan bilgi türlerini ve bunların nasıl korunup
                  saklandığını ana hatlarıyla açıklamaktadır. E-işletmem.com, ziyaretçi tarafından gönüllü olarak
                  verilmediği sürece hiçbir E-işletmem.com web sitesi kullanıcısı hakkında kişisel bilgileri
                  toplamamaktadır.</p>
                <p>Bu gizlilik politikası kapsamında kural olarak ziyaretçilerimiz tarafından sitemize sunulan kişisel
                  veriler (adınız, elektronik posta adresiniz, iş ve özel adresiniz, telefon numaralarınız) üçüncü
                  kişilerle paylaşılmamakta, satılmamakta, kiralanmamakta ve başka şekilde kullandırılmamaktadır.</p>
                <p>E-işletmem.com web sitesini ziyaret ettiğinizde kişisel bilgilerinizin toplanmasını istemediğiniz
                  takdirde ne yapmanız gerektiği ve bilgilerin nasıl değiştirilebildiği anlatılmaktadır. Bu politika
                  yalnızca bu web sitesi için geçerli olmakta ancak üçüncü şahısların mülkiyetinde olan web
                  sitelerindeki reklâm veya tanıtımlarımızda geçerli olamamaktadır.</p>
                <p>E-işletmem.com web sitesini kullanmak, gönüllü olarak kişisel bilgileri vermek bu sitede ilan edilen
                  mevcut gizlilik politikasının ve şartlarının kabul edildiği anlamı taşımaktadır. Ziyaretçilerimiz
                  tarafından isteğe bağlı olarak, demo formu doldurulması, iletişim formu doldurulması ya da e-bülten
                  gönderilmesi talebinde bulunulurken kişisel bilgiler toplanabilmektedir. Sizler bu bilgileri gönüllü
                  olarak vermediğiniz takdirde sitemize yaptığınız ziyaretlerinizden herhangi bir kişisel bilgi
                  toplanmamaktadır.</p>
                <p>E-işletmem.com sizin izninizle bilgilerinizi aşağıdaki amaçlar için kullanmaktadır;<br>-Tarafınıza
                  basılı bültenler, dergiler, kampanyalara dair yazılar göndermek<br>-Sizi elektronik posta, SMS ve faks
                  ile bilgilendirmek, kampanyalardan haberdar etmek,<br>-Ziyaretçi profillerimizi belirlemek,<br>-İstek,
                  talep ve şikâyetleri değerlendirmek</p>
                <p>Kişisel bilgiler ve bu veriler sadece belirtilen amaçlar için ve yasal soruşturmalar esnasında
                  mahkeme kararı gereği veya yasal prosedürler gerektirdiği takdirde kullanılmaktadır.</p>
                <p>E-işletmem.com, ziyaretçilerin web sitesindeki dolaşımları sırasında, kullanıcı yoğunluğu, ziyaret
                  edilen bölümler, tıklanan alanlar gibi özellikleri otomatik ve isimsiz olarak toplamaktadır. Bu
                  veriler sadece bölümlerin, farklı alanların izlenme, takip edilme oranlarının tespiti için
                  kullanılmakta ve herhangi bir ziyaretçinin kişisel bilgileri ile ilişkilendirilmemektedir. Sayfaların
                  nereden geçerek ya da ne şekilde ziyaret edildiğini belirleyen “cookie” (çerez) adlı teknolojinin
                  kullanıldığı durumlarda aynı şekilde sitenin farklı alanlarının izlenme, tıklanma oranlarının
                  belirlenmesinde istatistikî veri olarak toplanmakta olup kişiye özel yapılan bir uygulama değildir. Bu
                  teknoloji ile amaçlanan kullanıcıların daha sıklıkla ziyaret ettikleri bölümlere ait içeriği, siteye
                  ilk ziyaretinden itibaren kullanıcı için daha kolay ulaşılabilir kılmaktır.</p>
                <p>Kişisel bilgilerinizin güvenliğini sağlamak için gerekli önlemler alınmakta ve bu konuda ciddi
                  yatırımlar yapılmaktadır. Bilgilere izinsiz erişimin, değiştirilmesinin ve kötüye kullanılmasının
                  önüne geçilebilmesi için kısıtlı erişime tabidir. E-işletmem.com, bilgilerinin izni dışında üçüncü
                  şahıslara her ne amaçla olursa olsun verilmesini engellemek amacıyla hizmet aldığı firmalarla yaptığı
                  sözleşmelere “gizlilik” maddesi koymaktadır. İnternetten Satış Sistemine kayıt olduktan sonra
                  güvenliğiniz için şifrenizi kimseyle paylaşmayınız.</p>
                <p>E-işletmem.com web sitesini zaman zaman düzenlediği kampanyaları duyurmak, ziyaretçilerin ilgisini
                  çekebileceğini düşündüğü konular, içerikler farklı hizmet ve çalışmalardan ziyaretçileri haberdar
                  etmek amacıyla kullanmaktadır. E-işletmem.com web sitesi içeriğini burada yayımladığı hüküm ve
                  şartları
                  önceden haber vermeksizin tek taraflı olarak değiştirme ve güncelleme yapma hakkına sahiptir.</p>
                <p>E-işletmem.com gelecek olan talepleri karşılamak üzere gerekli çalışmaları ve araştırmaları
                  yapacaktır.
                  E-işletmem.com web sitesini ziyaret eden her bir ziyaretçi bütün bu şartları okumuş ve kabul etmiş
                  sayılır.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!-- ***** Main Banner Area End ***** -->

    <section class="top-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">

          </div>
          <div class="col-lg-6 align-self-center">


          </div>
        </div>
      </div>
    </section>

    <section class="simple-cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h4>Bütün <em>Özelliklerimizi keşfetmek</em> için:</h4>
          </div>
          <div class="col-lg-7">
            <div class="buttons">
              <div class="green-button">
                <a href="#">Daha Fazlasını Keşfet</a>
              </div>
              <div class="orange-button">
                <a href="#">İletişime Geç</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="partners">
    
      <div class="container">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h4>BERABER ÇALIŞTIĞIMIZ BAZI MARKALAR:</h4>
          </div>
        </div>
        <div class="row">
          <hr>
          
          
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/partners.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/cosmopark.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/nirvana.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/Platin-peruk.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/san-kaufor.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/gloria-beauty.png" alt="">
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <%- include('../partials/front-footer.ejs') %>

      <!-- Scripts -->
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <script src="assets/js/isotope.min.js"></script>
      <script src="assets/js/owl-carousel.js"></script>

      <script src="assets/js/tabs.js"></script>
      <script src="assets/js/swiper.js"></script>
      <script src="assets/js/custom.js"></script>
      <script>
        var interleaveOffset = 0.5;

        var swiperOptions = {
          loop: true,
          speed: 1000,
          grabCursor: true,
          watchSlidesProgress: true,
          mousewheelControl: true,
          keyboardControl: true,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
          },
          on: {
            progress: function () {
              var swiper = this;
              for (var i = 0; i < swiper.slides.length; i++) {
                var slideProgress = swiper.slides[i].progress;
                var innerOffset = swiper.width * interleaveOffset;
                var innerTranslate = slideProgress * innerOffset;
                swiper.slides[i].querySelector(".slide-inner").style.transform =
                  "translate3d(" + innerTranslate + "px, 0, 0)";
              }
            },
            touchStart: function () {
              var swiper = this;
              for (var i = 0; i < swiper.slides.length; i++) {
                swiper.slides[i].style.transition = "";
              }
            },
            setTransition: function (speed) {
              var swiper = this;
              for (var i = 0; i < swiper.slides.length; i++) {
                swiper.slides[i].style.transition = speed + "ms";
                swiper.slides[i].querySelector(".slide-inner").style.transition =
                  speed + "ms";
              }
            }
          }
        };

        var swiper = new Swiper(".swiper-container", swiperOptions);
      </script>

</body>

</html>