<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>İptal İade Şartları</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-574-mexant.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
 
  <style>
    .row{
      text-align: left;
    }
    
    .entry-content > ol {
      list-style: auto !important ;
      
    }
    ol{
      margin-left: 1rem;
    }
  </style>
</head>

<body>


  <!-- ***** Header Area Start ***** -->
  <%- include('../partials/header-front.ejs') %>
    <!-- ***** Header Area End ***** -->

    <section>
      <div class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="header-text">
                <h1>Kullanım Koşulları Sözleşmemiz</h1>
                </div>
                <div class="div-dec"></div>
                <div class="entry-content">
                  <p><strong>Cayma Hakkı:</strong></p>
                  <ol>
                  <li>Alıcı; satın aldığı ürünün kendisine veya gösterdiği adresteki kişi/kuruluşa teslim tarihinden itibaren 14 (on dört) gün içerisinde, Satıcı’ya aşağıdaki iletişim bilgileri üzerinden bildirmek şartıyla hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma hakkını kullanabilir.</li>
                  </ol>
                  <p>Satıcının Cayma Hakkı Bildirimi Yapılacak İletişim Bilgileri:</p>
                  <p><strong>E-işletme</strong><br>13 mart mahallesi 46.cadde 10. sokak no:2 iç kapı:13 kipcity a,b ve c blokları artuklu/Mardin</p>
                  <p>05413848148 / bilgi@e-isletmem.com</p>
                  <br>
                  <p><strong>Cayma Hakkının Süresi:</strong></p>
                  <ol>
                  <li>Alıcı, satın aldığı eğer bir hizmet&nbsp;ise, bu 14 günlük süre sözleşmenin imzalandığı tarihten itibaren başlar. Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile hizmetin ifasına başlanan hizmet sözleşmelerinde cayma hakkı kullanılamaz.</li>
                  <li>Cayma hakkının kullanımından kaynaklanan masraflar Satıcı’ya aittir.</li>
                  <li>Cayma hakkının kullanılması için 14 (on dört) günlük süre içinde Satıcı’ya iadeli taahhütlü posta veya e-posta ile yazılı bildirimde bulunulması ve ürünün işbu sözleşmede düzenlenen Cayma Hakkı Kullanılamayacak Ürünler hükümleri çerçevesinde kullanılmamış olması şarttır.</li>
                  </ol>
                  <p><strong>Cayma Hakkının Kullanımı:</strong></p>
                  <ol>
                  <li>Üçüncü kişiye veya Alıcı’ya teslim edilen ve iade edilmek istenen ürünün faturası kurumsal ise, iade ederken kurumun düzenlemiş olduğu iade faturası ile birlikte gönderilmesi gerekmektedir. Faturası kurumlar adına düzenlenen sipariş iadeleri iade faturası kesilmediği takdirde tamamlanamayacaktır.</li>
                  <li>İade formu, İade edilecek ürünlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz ve hasarsız olarak teslim edilmesi gerekmektedir.</li>
                  </ol>
                  <p><strong>İade Koşulları:</strong></p>
                  <ol>
                  <li>Satıcı, cayma bildiriminin kendisine ulaşmasından itibaren en geç 10 günlük süre içerisinde toplam bedeli ve Alıcı’yı borç altına sokan belgeleri Alıcı’ya iade etmek ve 20 günlük süre içerisinde malı iade almakla yükümlüdür.</li>
                  <li>Alıcı’nın kusurundan kaynaklanan bir nedenle malın değerinde bir azalma olursa veya iade imkânsızlaşırsa Alıcı, kusuru oranında Satıcı’nın zararlarını tazmin etmekle yükümlüdür. Ancak cayma hakkı süresi içinde malın veya ürünün usulüne uygun kullanılması sebebiyle meydana gelen değişiklik ve bozulmalardan Alıcı sorumlu değildir.</li>
                  <li>Cayma hakkının kullanılması nedeniyle Satıcı tarafından düzenlenen kampanya limit tutarının altına düşülmesi halinde kampanya kapsamında faydalanılan indirim miktarı iptal edilir.</li>
                  </ol>
                  <p><strong>Cayma Hakkı Kullanılamayacak Ürünler:</strong></p>
                  <ol>
                  <li>Alıcı’nın isteği veya açıkça kişisel ihtiyaçları doğrultusunda hazırlanan ve geri gönderilmeye müsait olmayan, tek kullanımlık ürünler, çabuk bozulma tehlikesi olan veya son kullanma tarihi geçme ihtimali olan mallar, Alıcı’ya teslim edilmesinin ardından Alıcı tarafından ambalajı açıldığı takdirde iade edilmesi sağlık ve hijyen açısından uygun olmayan ürünler, teslim edildikten sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan ürünler, abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınlara ilişkin mallar, elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallar, ile ses veya görüntü kayıtlarının, dijital içerik, yazılım programlarının, ambalajının Alıcı tarafından açılmış olması halinde iadesi Yönetmelik gereği mümkün değildir. Ayrıca cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin cayma hakkının kullanılması da Yönetmelik gereği mümkün değildir.</li>
                  <li>Kopyalanabilir yazılım ve programlar, DVD, VCD, CD ve kasetler ile kırtasiye sarf malzemeleri (toner, kartuş, şerit vb.) iade edilebilmesi için ambalajlarının açılmamış, denenmemiş, bozulmamış ve kullanılmamış olmaları gerekir.</li>
                  </ol>
                  <p><strong>Temerrüt Hali Ve Hukuki Sonuçları</strong></p>
                  <ol>
                  <li>Alıcı, ödeme işlemlerini&nbsp;kredi kartı ile yaptığı durumda temerrüde düştüğü takdirde, kart sahibi banka ile arasındaki kredi kartı sözleşmesi çerçevesinde faiz ödeyeceğini ve bankaya karşı sorumlu olacağını kabul, beyan ve taahhüt eder. Bu durumda ilgili banka hukuki yollara başvurabilir; doğacak masrafları ve vekâlet ücretini Alıcı’dan talep edebilir ve her koşulda Alıcı’nın borcundan dolayı temerrüde düşmesi halinde, Alıcı, borcun gecikmeli ifasından dolayı Satıcı’nın uğradığı zarar ve ziyanını ödeyeceğini kabul eder.</li>
                  </ol>
                  <p>Ödeme ve Teslimat</p>
                  <ul>
                  <li>Ödemelerinizi banka havalesi veya EFT yöntemleriyle yapabilirsiniz.</li>
                  </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ***** Main Banner Area End ***** -->

    <section class="top-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">

          </div>
          <div class="col-lg-6 align-self-center">


          </div>
        </div>
      </div>
    </section>

    <section class="simple-cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h4>Bütün <em>Özelliklerimiz</em> için:</h4>
          </div>
          <div class="col-lg-7">
            <div class="buttons">
              <div class="green-button">
                <a href="#">Daha Fazlasını Keşfet</a>
              </div>
              <div class="orange-button">
                <a href="#">İletişime Geç</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="partners">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/client-01.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/client-01.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/client-01.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/client-01.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/client-01.png" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="item">
              <img src="assets/images/client-01.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/front-footer.ejs') %>

      <!-- Scripts -->
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <script src="assets/js/isotope.min.js"></script>
      <script src="assets/js/owl-carousel.js"></script>

      <script src="assets/js/tabs.js"></script>
      <script src="assets/js/swiper.js"></script>
      <script src="assets/js/custom.js"></script>
      <script>
        var interleaveOffset = 0.5;

        var swiperOptions = {
          loop: true,
          speed: 1000,
          grabCursor: true,
          watchSlidesProgress: true,
          mousewheelControl: true,
          keyboardControl: true,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
          },
          on: {
            progress: function () {
              var swiper = this;
              for (var i = 0; i < swiper.slides.length; i++) {
                var slideProgress = swiper.slides[i].progress;
                var innerOffset = swiper.width * interleaveOffset;
                var innerTranslate = slideProgress * innerOffset;
                swiper.slides[i].querySelector(".slide-inner").style.transform =
                  "translate3d(" + innerTranslate + "px, 0, 0)";
              }
            },
            touchStart: function () {
              var swiper = this;
              for (var i = 0; i < swiper.slides.length; i++) {
                swiper.slides[i].style.transition = "";
              }
            },
            setTransition: function (speed) {
              var swiper = this;
              for (var i = 0; i < swiper.slides.length; i++) {
                swiper.slides[i].style.transition = speed + "ms";
                swiper.slides[i].querySelector(".slide-inner").style.transition =
                  speed + "ms";
              }
            }
          }
        };

        var swiper = new Swiper(".swiper-container", swiperOptions);
      </script>

</body>

</html>