
<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Landrick - Saas & Software Landing Page Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Premium Bootstrap 4 Landing Page Template" />
        <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
        <meta name="author" content="Shreethemes" />
        <meta name="email" content="shreethemes@gmail.com" />
        <meta name="website" content="http://www.shreethemes.in" />
        <meta name="Version" content="v2.5.1" />
        <!-- favicon -->
        <link rel="shortcut icon" href="front/images/favicon.ico">
        <!-- Bootstrap -->
        <link href="front/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="front/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        <!-- Main Css -->
        <link href="front/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="front/css/colors/default.css" rel="stylesheet" id="color-opt">

    </head>

    <body>
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->
        
        <!-- Navbar STart -->
        <%- include('../partials/front/header.ejs') %>
        <!-- Navbar End -->
        
        <!-- Hero Start -->
        <section class="bg-half bg-light d-table w-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title">İptal ve İade Şartları</h4>
                           
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->  
        
        <!-- Start Terms & Conditions -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="card shadow border-0 rounded">
                            <div class="card-body">
                              
                  <p><strong>Cayma Hakkı:</strong></p>
                  <ol>
                  <li>Alıcı; satın aldığı ürünün kendisine veya gösterdiği adresteki kişi/kuruluşa teslim tarihinden itibaren 14 (on dört) gün içerisinde, Satıcı’ya aşağıdaki iletişim bilgileri üzerinden bildirmek şartıyla hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma hakkını kullanabilir.</li>
                  </ol>
                  <p>Satıcının Cayma Hakkı Bildirimi Yapılacak İletişim Bilgileri:</p>
                  <p><strong>E-işletme</strong><br>13 mart mahallesi 46.cadde 10. sokak no:2 iç kapı:13 kipcity a,b ve c blokları artuklu/Mardin</p>
                  <p>05413848148 / bilgi@e-isletmem.com</p>
                  <br>
                  <p><strong>Cayma Hakkının Süresi:</strong></p>
                  <ol>
                  <li>Alıcı, satın aldığı eğer bir hizmet&nbsp;ise, bu 14 günlük süre sözleşmenin imzalandığı tarihten itibaren başlar. Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile hizmetin ifasına başlanan hizmet sözleşmelerinde cayma hakkı kullanılamaz.</li>
                  <li>Cayma hakkının kullanımından kaynaklanan masraflar Satıcı’ya aittir.</li>
                  <li>Cayma hakkının kullanılması için 14 (on dört) günlük süre içinde Satıcı’ya iadeli taahhütlü posta veya e-posta ile yazılı bildirimde bulunulması ve ürünün işbu sözleşmede düzenlenen Cayma Hakkı Kullanılamayacak Ürünler hükümleri çerçevesinde kullanılmamış olması şarttır.</li>
                  </ol>
                  <p><strong>Cayma Hakkının Kullanımı:</strong></p>
                  <ol>
                  <li>Üçüncü kişiye veya Alıcı’ya teslim edilen ve iade edilmek istenen ürünün faturası kurumsal ise, iade ederken kurumun düzenlemiş olduğu iade faturası ile birlikte gönderilmesi gerekmektedir. Faturası kurumlar adına düzenlenen sipariş iadeleri iade faturası kesilmediği takdirde tamamlanamayacaktır.</li>
                  <li>İade formu, İade edilecek ürünlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz ve hasarsız olarak teslim edilmesi gerekmektedir.</li>
                  </ol>
                  <p><strong>İade Koşulları:</strong></p>
                  <ol>
                  <li>Satıcı, cayma bildiriminin kendisine ulaşmasından itibaren en geç 10 günlük süre içerisinde toplam bedeli ve Alıcı’yı borç altına sokan belgeleri Alıcı’ya iade etmek ve 20 günlük süre içerisinde malı iade almakla yükümlüdür.</li>
                  <li>Alıcı’nın kusurundan kaynaklanan bir nedenle malın değerinde bir azalma olursa veya iade imkânsızlaşırsa Alıcı, kusuru oranında Satıcı’nın zararlarını tazmin etmekle yükümlüdür. Ancak cayma hakkı süresi içinde malın veya ürünün usulüne uygun kullanılması sebebiyle meydana gelen değişiklik ve bozulmalardan Alıcı sorumlu değildir.</li>
                  <li>Cayma hakkının kullanılması nedeniyle Satıcı tarafından düzenlenen kampanya limit tutarının altına düşülmesi halinde kampanya kapsamında faydalanılan indirim miktarı iptal edilir.</li>
                  </ol>
                  <p><strong>Cayma Hakkı Kullanılamayacak Ürünler:</strong></p>
                  <ol>
                  <li>Alıcı’nın isteği veya açıkça kişisel ihtiyaçları doğrultusunda hazırlanan ve geri gönderilmeye müsait olmayan, tek kullanımlık ürünler, çabuk bozulma tehlikesi olan veya son kullanma tarihi geçme ihtimali olan mallar, Alıcı’ya teslim edilmesinin ardından Alıcı tarafından ambalajı açıldığı takdirde iade edilmesi sağlık ve hijyen açısından uygun olmayan ürünler, teslim edildikten sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan ürünler, abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınlara ilişkin mallar, elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallar, ile ses veya görüntü kayıtlarının, dijital içerik, yazılım programlarının, ambalajının Alıcı tarafından açılmış olması halinde iadesi Yönetmelik gereği mümkün değildir. Ayrıca cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin cayma hakkının kullanılması da Yönetmelik gereği mümkün değildir.</li>
                  <li>Kopyalanabilir yazılım ve programlar, DVD, VCD, CD ve kasetler ile kırtasiye sarf malzemeleri (toner, kartuş, şerit vb.) iade edilebilmesi için ambalajlarının açılmamış, denenmemiş, bozulmamış ve kullanılmamış olmaları gerekir.</li>
                  </ol>
                  <p><strong>Temerrüt Hali Ve Hukuki Sonuçları</strong></p>
                  <ol>
                  <li>Alıcı, ödeme işlemlerini&nbsp;kredi kartı ile yaptığı durumda temerrüde düştüğü takdirde, kart sahibi banka ile arasındaki kredi kartı sözleşmesi çerçevesinde faiz ödeyeceğini ve bankaya karşı sorumlu olacağını kabul, beyan ve taahhüt eder. Bu durumda ilgili banka hukuki yollara başvurabilir; doğacak masrafları ve vekâlet ücretini Alıcı’dan talep edebilir ve her koşulda Alıcı’nın borcundan dolayı temerrüde düşmesi halinde, Alıcı, borcun gecikmeli ifasından dolayı Satıcı’nın uğradığı zarar ve ziyanını ödeyeceğini kabul eder.</li>
                  </ol>
                  <p>Ödeme ve Teslimat</p>
                  <ul>
                  <li>Ödemelerinizi banka havalesi veya EFT yöntemleriyle yapabilirsiniz.</li>
                  </ul>
                  
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Terms & Conditions -->

        <!-- Footer Start -->
        <%- include('../partials/front/footer.ejs') %>

        <!-- Back to top -->
        <a href="#" class="btn btn-icon btn-soft-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

        <!-- javascript -->
        <script src="/front/js/jquery-3.5.1.min.js"></script>
        <script src="/front/js/bootstrap.bundle.min.js"></script>
        <script src="/front/js/jquery.easing.min.js"></script>
        <script src="/front/js/scrollspy.min.js"></script>
        <!-- Icons -->
        <script src="/front/js/feather.min.js"></script>
        <script src="https://unicons.iconscout.com/release/v2.1.9/script/monochrome/bundle.js"></script>
        <!-- Main Js -->
        <script src="front/js/app.js"></script>
    </body>
</html>