
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Landrick - Saas & Software Landing Page Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Premium Bootstrap 4 Landing Page Template" />
        <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
        <meta name="author" content="Shreethemes" />
        <meta name="email" content="shreethemes@gmail.com" />
        <meta name="website" content="http://www.shreethemes.in" />
        <meta name="Version" content="v2.5.1" />
        <!-- favicon -->
        <link rel="shortcut icon" href="/front/images/favicon.ico">
        <!-- Bootstrap -->
        <link href="/front/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="/front/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        <!-- Slider -->               
        <link rel="stylesheet" href="/front/css/owl.carousel.min.css"/> 
        <link rel="stylesheet" href="/front/css/owl.theme.default.min.css"/> 
        <!-- Main Css -->
        <link href="/front/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="/front/css/colors/default.css" rel="stylesheet" id="color-opt">
    </head>

    <body>
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->
        
        <%- include('../partials/front/header.ejs') %>
        
        <!-- Hero Start -->
        <section class="bg-half bg-light d-table w-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title"> Sık Sorulan Sorular </h4>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Start Section -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-5 col-12 d-none d-md-block">
                        <div class="rounded shadow p-4 sticky-bar">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#tech" class="mouse-down h6 text-dark">Abonelik Hakkında Sorular</a></li>
                                <li class="mt-4"><a href="#appointment" class="mouse-down h6 text-dark">Randevu Yönetimi Hakkında</a></li>
                                <li class="mt-4"><a href="#payment" class="mouse-down h6 text-dark">Gelir-Gider Hakkında</a></li>
                                <li class="mt-4"><a href="#system" class="mouse-down h6 text-dark">Sistem Hakkında</a></li>
                            </ul>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-8 col-md-7 col-12">
                        <div class="section-title" id="tech">
                            <h4>Abonelik Hakkında Sorular</h4>
                        </div>
                        <div class="faq-content mt-4 pt-2">
                            <div class="accordion" id="accordionExampleone">
                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapseone" class="faq position-relative" aria-expanded="true" aria-controls="collapseone">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingfifone">
                                            <h6 class="title mb-0">Abonelik İptal Edilebilir mi?</h6>
                                        </div>
                                    </a>
                                    <div id="collapseone" class="collapse show" aria-labelledby="headingfifone" data-parent="#accordionExampleone">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Abonelikler iptal edilebilir, abonelik iptalinde uygulanan indirimler düşüldükten sonra aboneliğin bitimine kalan süre üzerinden hesaplanır.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapsetwo" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsetwo">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingtwo">
                                            <h6 class="title mb-0"> Abonelik Süresi ne Kadar? </h6>
                                        </div>
                                    </a>
                                    <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordionExampleone">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Ücretsi Abelik 14 gün olup, işletmeler aşağıdaki aboneliklerden dilediği kadar abonelik satın alabilir. <ul><li>
                                                1 Aylık Paket
                                            </li>
                                        <li>
                                            3 Aylık Aylık Paket
                                        </li>
                                    <li>
                                        6 Aylık Paket
                                    </li></ul></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapsethree" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsethree">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingthree">
                                            <h6 class="title mb-0"> Personel Sınırı var mı?</h6>
                                        </div>
                                    </a>
                                    <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExampleone">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Personel sınırı yoktur. İşletme satın aldığı aboneliğe istediği kadar kullanıcı satın alabilir. kullanıcı ücretleri o tarhiteki fiyatlandırmadan yapılır.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapsefour" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsefour">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingfour">
                                            <h6 class="title mb-0"> Personel Azaltabilir miyim? </h6>
                                        </div>
                                    </a>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExampleone">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">İstediğiniz an personelinizi pasif edebilirsiniz. akatif paketiniz boyunca satın aldığınız maksimum personel sınırı kadar personel aktif olabilir. </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border-0 rounded">
                                    <a data-toggle="collapse" href="#collapsefive2" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsefive2">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingfive2">
                                            <h6 class="title mb-0">Abonelik Bitiminde Ne olur?</h6>
                                        </div>
                                    </a>
                                    <div id="collapsefive2" class="collapse" aria-labelledby="headingfive2" data-parent="#accordionExampleone">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Aboneliğiniz bittiğinde sistem sizi ödeme sayfasına yönlendirir. Aktif Paketiniz olmadığı sürece sistemin özelliklerinden faydalanamazsınız</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section-title" id="appointment">
                            <h4>Randevu Hakkında Sorular</h4>
                        </div>
                        <div class="faq-content mt-4 pt-2">
                            <div class="accordion" id="accordionExampleone">
                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapseone" class="faq position-relative" aria-expanded="true" aria-controls="collapseone">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingone">
                                            <h6 class="title mb-0"> Kaç tane Randevu Ekleyebilirim?</h6>
                                        </div>
                                    </a>
                                    <div id="collapseone" class="collapse show" aria-labelledby="headingone" data-parent="#accordionExampleone">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Sisteme sınırsız sayıda randevu ekleyebilirsiniz. randevu alma yetkisine sahip her personel için ayrı randevu alabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapsetwo" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsetwo">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingtwo">
                                            <h6 class="title mb-0"> Randevu İptal edilebilir mi?</h6>
                                        </div>
                                    </a>
                                    <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordionExampleone">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Randevular iptal edilebilir, fakat silinmez, bu sayede iptal edilen randevularınızı sebebpleriyle beraber  görebilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapsethree" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsethree">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingthree">
                                            <h6 class="title mb-0"> Yaklaşan Randevuları Nasıl görebilirim? </h6>
                                        </div>
                                    </a>
                                    <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExampleone">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Gün ve personel bazlı randevu listeleme özelliği sayesinde randevuları istediğiniz tarihe göre filtreleyebilir,bunlara özel mesajlar atabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapsefour" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsefour">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingfour">
                                            <h6 class="title mb-0"> Randevuya Personel Atama </h6>
                                        </div>
                                    </a>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExampleone">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Randevulara belirli personeller atayabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                        
                               
                            </div>
                        </div>
                        

                        <div class="section-title mt-5" id="payment">
                            <h4>Gelir-Gider Hakkında Sorular</h4>
                        </div>

                        <div class="faq-content mt-4 pt-3">
                            <div class="accordion" id="accordionExamplethree">
                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapseten" class="faq position-relative" aria-expanded="true" aria-controls="collapseten">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingten">
                                            <h6 class="title mb-0">Geçmişteki Kasa detaylarını Görebilir miyim?</h6>
                                        </div>
                                    </a>
                                    <div id="collapseten" class="collapse show" aria-labelledby="headingten" data-parent="#accordionExamplethree">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Evet İstediğiniz Tarihteki bir kasaya ait detaylara ulaşabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapseeleven" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapseeleven">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingeleven">
                                            <h6 class="title mb-0">Sistem Pos Cihazına Bağlı mıdır?</h6>
                                        </div>
                                    </a>
                                    <div id="collapseeleven" class="collapse" aria-labelledby="headingeleven" data-parent="#accordionExamplethree">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Hayır, Pos cihazlarına bağlı değil, ödeme alırken kredi kartı seçeneğini işaretlemeniz gerekmektedir.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapsetwelve" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsetwelve">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingtwelve">
                                            <h6 class="title mb-0"> Parçalı Ödeme Alabilir miyim?</h6>
                                        </div>
                                    </a>
                                    <div id="collapsetwelve" class="collapse" aria-labelledby="headingtwelve" data-parent="#accordionExamplethree">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Evet, istediğiniz miktarda ödeme alabilirsiniz, kalanı otomatik olarak müşterinin bakiyesine yazılır.</p>
                                        </div>
                                    </div>
                                </div>

                                

                               
                            </div>
                        </div>

                        <div class="section-title mt-5" id="system">
                            <h4>Sistem Hakkında Sorular</h4>
                        </div>

                        <div class="faq-content mt-4 pt-3">
                            <div class="accordion" id="accordionExamplefour">
                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapsefifthenn" class="faq position-relative" aria-expanded="true" aria-controls="collapsefifthenn">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingfiftheen">
                                            <h6 class="title mb-0"> Herhangi bir Yükleme Yapmam Gerekiyor mu? </h6>
                                        </div>
                                    </a>
                                    <div id="collapsefifthenn" class="collapse show" aria-labelledby="headingfiftheen" data-parent="#accordionExamplefour">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Hayır Gerekmiyor. Sistem bulut teknolojisi ile çalıştığından internet olan herhangi bir yerden ulaşılabilir.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapsesixteen" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsesixteen">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingsixteen">
                                            <h6 class="title mb-0"> Mobil Uygulamanız var mı?</h6>
                                        </div>
                                    </a>
                                    <div id="collapsesixteen" class="collapse" aria-labelledby="headingsixteen" data-parent="#accordionExamplefour">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Hayır, Mobil uygulamamız geliştirme aşamasındadır. fakat bütün özelliklerimizi mobil websitemizden kullanabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapseseventeen" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapseseventeen">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingseventeen">
                                            <h6 class="title mb-0"> Sistemin Güvenliğini Nasıl sağlıyorsunuz? </h6>
                                        </div>
                                    </a>
                                    <div id="collapseseventeen" class="collapse" aria-labelledby="headingseventeen" data-parent="#accordionExamplefour">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Sistemimiz SSL Sertifikası ile korunmakta olup, ödemeleriniz iyzico üzerinden alınmaktadır. kredi kartı verileriniz asla sistemimizde tutulmaz.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border-0 rounded mb-2">
                                    <a data-toggle="collapse" href="#collapseeigheteen" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapseeigheteen">
                                        <div class="card-header border-0 bg-light p-3 pr-5" id="headingeighteen">
                                            <h6 class="title mb-0"> Hangi cihazlardan kullanabilirim? </h6>
                                        </div>
                                    </a>
                                    <div id="collapseeigheteen" class="collapse" aria-labelledby="headingeighteen" data-parent="#accordionExamplefour">
                                        <div class="card-body px-2 py-4">
                                            <p class="text-muted mb-0 faq-ans">Sistemimizi internet bağlantısı olan tüm bilgisayar,tablet ve telefonlardan 7 gün/24 saat kullanabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>

                               
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Section -->

        <%- include('../partials/front/footer.ejs') %>


        <!-- Back to top -->
        <a href="#" class="btn btn-icon btn-soft-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

        <!-- javascript -->
        <script src="/front/js/jquery-3.5.1.min.js"></script>
        <script src="/front/js/bootstrap.bundle.min.js"></script>
        <script src="/front/js/jquery.easing.min.js"></script>
        <script src="/front/js/scrollspy.min.js"></script>
        <!-- SLIDER -->
        <script src="/front/js/owl.carousel.min.js "></script>
        <script src="/front/js/owl.init.js "></script>
        <!-- Icons -->
        <script src="/front/js/feather.min.js"></script>
        <script src="https://unicons.iconscout.com/release/v2.1.9/script/monochrome/bundle.js"></script>
        <!-- Main Js -->
        <script src="/front/js/app.js"></script>
    </body>
</html>