<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>archmietCRM-V1</title>
    <!-- material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" href="../css/login.css">


</head>

<body>

    <div class="container">
        <form action="" method="POST" id="login-form">
            <h2>GİRİŞ</h2>
            <div class="form-group">
                <span>Email:</span>
                <input type="email" name="email" id="email" required placeholder="Lütfen mail adresinisi giriniz">
            </div>
            <div class="form-group">
                <span>Şifre:</span>

                <input type="password" name="password" id="passwordd" required placeholder="lütfen şifrenizi giriniz">
            </div>
            <button type="submit" class="login-btn">GİRİŞ</button>
            <span>veya</span>

            <a href="http://127.0.0.1:3000/register">Kayıt ol</a>
        </form>

    </div>

</body>

</html>