    <!-- Footer Start -->
    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                  <a href="#" class="logo-footer">
                      <img src="/front/images/logo-light.png" height="40" alt="">
                  </a>
                  <p class="mt-4"><i data-feather="mail" class="fea icon-sm icons"></i> bilgi@e-isletmem.com</p>
                  <p class="mt-4"><i data-feather="phone" class="fea icon-sm icons"></i> +905413848148</p>
                  <p class="mt-4"><i data-feather="map-pin" class="fea icon-sm icons"></i> Mardin/Türkiye</p>
                  <h  class="mt-4">Sosyal Medya Hesaplarımız</h>
                  <ul class="list-unstyled social-icon social mb-0 mt-4">
                      <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                  </ul><!--end icon-->
              </div><!--end col-->
              
              <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                  <h4 class="text-light footer-head">Kurumsal</h4>
                  <ul class="list-unstyled footer-list mt-4">
                      <li><a href="/about-us" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Hakkımızda</a></li>
                      <li><a href="/help" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Yardım Al</a></li>
                      <li><a href="/prices" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Fiyatlandırma</a></li>
                      <li><a href="/sss" class="text-foot" style="white-space: nowrap;"><i class="mdi mdi-chevron-right mr-1"></i> Sık Sorulan Sorular</a></li>
                      <li><a href="/blog" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Blog</a></li>
                      <li><a href="/login" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Giriş</a></li>
                  </ul>
              </div><!--end col-->
              
              <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                  <h4 class="text-light footer-head">Yararlı Linkler</h4>
                  <ul class="list-unstyled footer-list mt-4">
                      <li><a href="/term-of-use" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Kullanım Koşulları</a></li>
                      <li><a href="/privacy-policies" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Gizlilik Şartları</a></li>
                      <li><a href="/kvkk" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> KVKK Aydınlatma Metni</a></li>
                      <li><a href="/return-policies" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> İptal/İade</a></li>
                      <!-- <li><a href="/updates" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Güncellemeler</a></li> -->
                  </ul>
              </div><!--end col-->

              <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                  <h4 class="text-light footer-head">Bülten</h4>
                  <p class="mt-4">Güncellemeler için bültene kayıt olun</p>
                  <form>
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="foot-subscribe form-group position-relative">
                                  <label>Mail Adresinizi Girin <span class="text-danger">*</span></label>
                                  <i data-feather="mail" class="fea icon-sm icons"></i>
                                  <input type="email" name="email" id="emailsubscribe" class="form-control pl-5 rounded" placeholder="Email : " required>
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary btn-block" value="Kayıt Ol">
                          </div>
                      </div>
                  </form>
              </div><!--end col-->
          </div><!--end row-->
      </div><!--end container-->
  </footer><!--end footer-->
  <footer class="footer footer-bar">
      <div class="container text-center">
          <div class="row align-items-center">
              <div class="col-sm-6">
                  <div class="text-sm-left">
                      <p class="mb-0">© 2023-2025 E-işletmem. Aşkla <i class="mdi mdi-heart text-danger"></i> Yapıldı.</a>.</p>
                  </div>
              </div><!--end col-->

              
          </div><!--end row-->
      </div><!--end container-->
  </footer><!--end footer-->
  <!-- Footer End -->

  <!-- Back to top -->
  <a href="" class="btn btn-icon btn-soft-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
  <!-- Back to top -->