 <!-- Navbar STart -->
 <header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="/">
                <img src="/front/images/logo-dark.png" height="34" alt="">
            </a>
        </div>                 
        <div class="buy-button">
            <a href="/login" target="" class="btn btn-primary">Giriş/Kayıt</a>
        </div><!--end login button-->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu">
                <li class="has-submenu">
                    <a href="javascript:void(0)">Özellikler</a><span class="menu-arrow"></span>
                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                                <li><a href="/our-services/randevu-yonetimi">Randevu YÖNETİMİ</a></li>
                                <li><a href="/our-services/sms-yonetimi">Sms YÖNETİMİ</a></li>
                                <li><a href="/our-services/hasta-yonetimi">Hasta YÖNETİMİ</a></li>
                                <li><a href="/our-services/personel-yonetimi">Personel YÖNETİMİ</a></li>
                                <li><a href="/our-services/gelir-gider-yonetimi">Gelir/Gider YÖNETİMİ</a></li>
                                <li><a href="/our-services/urun-hizmet-yonetimi">Ürün-HİZMET YÖNETİMİ</a></li>
                                <li><a href="#">Fatura YÖNETİMİ <span class="badge badge-success rounded">Yakında</span></a></li>
                            </ul>
                        </li>

                        
                          
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="/prices">FİYATLANDIRMA</a>
                   
                </li>
                <li class="has-submenu">
                    <a href="/blog">BLOG</a>
                </li>
                <li class="has-submenu">
                    <a href="/contactus">İLETİŞİM</a>
                </li>
            </ul><!--end navigation menu-->
            <div class="buy-menu-btn d-none">
                <a href="/login"  class="btn btn-primary">Giriş/Kayıt</a>
            </div><!--end login button-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->